<table id="otherdistrict" style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>
				<b>Sl.<br>
No</b>
			</td>
			<td>
				<b>Name
				of the Road</b>
			</td>
			<td>
				<b>Starting
				KM.</b>
			</td>
			<td>
				<b>Ending
				KM</b>
			</td>
			<td>
				<b>Total
				Length KM.</b>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td>
				Mamandur
				- Uthiramerur Road to Thirumukkudal Road(via) Salavakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				20.200
			</td>
			<td>
				20.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				2
			</td>
			<td>
				Chunambedu
				- Perumbair Road
			</td>
			<td>
				0.000
			</td>
			<td>
				19.800
			</td>
			<td>
				19.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				3
			</td>
			<td>
				Thirupulivanam
				- Salavakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				17.480
			</td>
			<td>
				17.480
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				4
			</td>
			<td>
				Cheyyur
				- Wandavasi Road to Villivakkkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				16.200
			</td>
			<td>
				16.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				5
			</td>
			<td>
				Mangalam
				- Pattikattu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				15.200
			</td>
			<td>
				15.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				6
			</td>
			<td>
				Echur
				- Thiruporur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				14.200
			</td>
			<td>
				14.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				7
			</td>
			<td>
				Meyyur
				- Pinayur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				14.400
			</td>
			<td>
				14.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				8
			</td>
			<td>
				G.S.T.
				Road to Thirukalukundram (via) P.V. Kalathur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				13.600
			</td>
			<td>
				13.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				9
			</td>
			<td>
				G.S.T.
				road to Endathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				13.200
			</td>
			<td>
				13.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				10
			</td>
			<td>
				Kalore
				- Kambarajapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				12.800
			</td>
			<td>
				12.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				11
			</td>
			<td>
				Maduranthagam
				– Vennangupattu Road to Thatchur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				11.800
			</td>
			<td>
				11.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				12
			</td>
			<td>
				Acharapakkam
				- Anaikunnam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				11.200
			</td>
			<td>
				11.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				13
			</td>
			<td>
				Nerumbur
				- Pudupattinam Road
			</td>
			<td>
				0.000
				   12.600
			</td>
			<td>
				10.600
				  13.000
			</td>
			<td>
				11.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				14
			</td>
			<td>
				Perumbair
				- Orathy Road
			</td>
			<td>
				0.000
			</td>
			<td>
				10.200
			</td>
			<td>
				10.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				15
			</td>
			<td>
				The
				Road Branching at Km.6/8 of Uthiramerur - Kammalampoondi -
				Acharapakkam Road and joining at Km 11/6 of Vedanthangal Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.800
			</td>
			<td>
				9.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				16
			</td>
			<td>
				Vengachery
				- Thirumukkudal Road
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				17
			</td>
			<td>
				Walajabad
				- Thirupulivanam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				18
			</td>
			<td>
				Palur-Singaperumal
				koil Road
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				19
			</td>
			<td>
				P.V.Kalathur
				Road to Vallipuram 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				20
			</td>
			<td>
				Perunagar-Kaliyampoondi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				9.105
			</td>
			<td>
				9.105
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				21
			</td>
			<td>
				Pavunjur
				- Anaicut Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.800
			</td>
			<td>
				8.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				22
			</td>
			<td>
				Edayarpakkam-Purisai
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.800
			</td>
			<td>
				8.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				23
			</td>
			<td>
				Km.103/8
				of NH 45 to Kongarai (via) Karasangal Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.800
			</td>
			<td>
				8.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				24
			</td>
			<td>
				Ezhichur-Palur
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.600
			</td>
			<td>
				8.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				25
			</td>
			<td>
				Ullavur
				- Thollazhi  Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.450
			</td>
			<td>
				8.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				26
			</td>
			<td>
				Km.24/4
				of Sadras - Surappan Road Joining Veerakuppam Road (via) Sogandi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.280
			</td>
			<td>
				8.280
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				27
			</td>
			<td>
				Kayarambedu
				- Kalivanthapattu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.250
			</td>
			<td>
				8.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				28
			</td>
			<td>
				Nerumbur
				- Kanni Koil Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.200
			</td>
			<td>
				8.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				29
			</td>
			<td>
				Mettukuppam
				- Perumbakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.000
			</td>
			<td>
				8.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				30
			</td>
			<td>
				Manampathy
				- Mullipakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.000
			</td>
			<td>
				8.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				31
			</td>
			<td>
				Kodur
				Road to Cheyyur (via) Veerabogam Road
			</td>
			<td>
				1.800
			</td>
			<td>
				9.250
			</td>
			<td>
				7.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				32
			</td>
			<td>
				Purisai
				- Pullalore Road
			</td>
			<td>
				0.000
			</td>
			<td>
				7.400
			</td>
			<td>
				7.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				33
			</td>
			<td>
				Mambakkam
				- Thiruporur Road
			</td>
			<td>
				12.000
				  14.350
			</td>
			<td>
				13.600
				  20.000
			</td>
			<td>
				7.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				34
			</td>
			<td>
				Thodur-Kannanthangal
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				7.200
			</td>
			<td>
				7.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				35
			</td>
			<td>
				Orathy
				– Ananthamangalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				7.200
			</td>
			<td>
				7.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				36
			</td>
			<td>
				Km.5/2
				of Manamathy – Mullipakkam Road to Thirunilai (via) Oragadam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.000
			</td>
			<td>
				7.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				37
			</td>
			<td>
				Arasanimangalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.770
			</td>
			<td>
				6.770
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				38
			</td>
			<td>
				Padalam
				- Cheyyur Road to Neelamangalam Easur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.700
			</td>
			<td>
				6.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				39
			</td>
			<td>
				Serapanacheri-Nattarasanpattu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.600
			</td>
			<td>
				6.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				40
			</td>
			<td>
				Sarvatheertham
				- Musaravakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.600
			</td>
			<td>
				6.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				41
			</td>
			<td>
				Kinar
				- Keelavalam Road 
				
			</td>
			<td>
				0.900
			</td>
			<td>
				7.400
			</td>
			<td>
				6.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				42
			</td>
			<td>
				Vaipanai
				- Vengodu Road to Athiyur - Melthuli Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.500
			</td>
			<td>
				6.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				43
			</td>
			<td>
				Kaliyampoondi
				- Andithangal Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				44
			</td>
			<td>
				MCB
				 road to Kuthirambakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				45
			</td>
			<td>
				Uthukkadu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				46
			</td>
			<td>
				Kolathur-Kannanthangal
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				47
			</td>
			<td>
				Pallur
				- Sogandi Road to Purisai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.200
			</td>
			<td>
				6.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				48
			</td>
			<td>
				Attupatti
				- Kottaipunchai (Via) Indalure Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.200
			</td>
			<td>
				6.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				49
			</td>
			<td>
				Km.6/6
				of Manampathy - Mullipakkam Road Joining Thandarai (via) Periya
				Irumbedu (via) Amirthampallam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.150
			</td>
			<td>
				6.150
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				50
			</td>
			<td>
				Arunkundram
				- Arumpuliyur - Karumbakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				51
			</td>
			<td>
				Marutham
				- Malaiyankulam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				52
			</td>
			<td>
				Elapakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				53
			</td>
			<td>
				MCB
				Road to Sirunai Perugal H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				54
			</td>
			<td>
				Vilanganoor
				- Vettur - Salaiyur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				55
			</td>
			<td>
				GST
				Road to Karunilam - Melrosapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.800
			</td>
			<td>
				5.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				56
			</td>
			<td>
				Sithamalli
				- Malliyankaranai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.800
			</td>
			<td>
				5.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				57
			</td>
			<td>
				Kadukkalur
				- Kalpattu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.800
			</td>
			<td>
				5.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				58
			</td>
			<td>
				Patta
				 - Padur Road
			</td>
			<td>
				0.000
				  5.800
			</td>
			<td>
				4.000
				   7.580
			</td>
			<td>
				5.780
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				59
			</td>
			<td>
				Uthiramerur
				- Kammalampoondi Road to Athiyur - Melthuli (via) Kavanoor
				Puducheri Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.670
			</td>
			<td>
				5.670
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				60
			</td>
			<td>
				Pillaichathiram-Maduramangalam
				(via)Ramanujapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.650
			</td>
			<td>
				5.650
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				61
			</td>
			<td>
				Endathur
				- Maruvalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				62
			</td>
			<td>
				Thirumani
				- Mosivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				63
			</td>
			<td>
				MCB
				Road to Neervallur - Kallipattu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				64
			</td>
			<td>
				Kancheepuram
				- Enathur Road to GWT Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				65
			</td>
			<td>
				Alapakkam
				- Annathur - Salavakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				66
			</td>
			<td>
				Vizhuthamangalam
				- Nelvoy Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.400
			</td>
			<td>
				5.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				67
			</td>
			<td>
				Nemili
				- Mannur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.400
			</td>
			<td>
				5.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				68
			</td>
			<td>
				Km.1/8
				of Kayar Road to Thaiyur (via) Komannagar Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.400
			</td>
			<td>
				5.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				69
			</td>
			<td>
				Maduranthagam
				- Vennangupatturoad to Neerpair (Via) Melvasalai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.400
			</td>
			<td>
				5.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				70
			</td>
			<td>
				Muthiyalpettai
				- Vaiyavur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.200
			</td>
			<td>
				5.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				71
			</td>
			<td>
				Ozhukarai
				- Silambakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.200
			</td>
			<td>
				5.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				72
			</td>
			<td>
				Acharapakkam
				- Anaikunnam Road to Kadamalaiputhur (Via) Seethapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.200
			</td>
			<td>
				5.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				73
			</td>
			<td>
				Manamai
				Kunnathur Road to Kadumbadi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.200
			</td>
			<td>
				5.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				74
			</td>
			<td>
				Cheyyur
				- Wandavasi Road to Thanneerpandal (Via) Devarajapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.100
			</td>
			<td>
				5.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				75
			</td>
			<td>
				Km.8/6
				of Uthiramerur - Kancheepuram - Puthali Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.100
			</td>
			<td>
				5.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				76
			</td>
			<td>
				Kavanipakkam
				- Peranakavoor - Mambakkkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.100
			</td>
			<td>
				5.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				77
			</td>
			<td>
				Orathy
				- Ananthamangalam Road to Thinnanoor (Via) Sathiyavadi Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				78
			</td>
			<td>
				Magaral
				- Kavanthandalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				79
			</td>
			<td>
				Kodur
				 - Seekinankuppam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				80
			</td>
			<td>
				Kondangi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.960
			</td>
			<td>
				4.960
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				81
			</td>
			<td>
				Perumbair
				- Orathy Road to Keel Athivakkam  - Elapakkam, Oddangudisai -
				Porparankaranai - Anaikunnam Road
			</td>
			<td>
				2.000
			</td>
			<td>
				6.950
			</td>
			<td>
				4.950
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				82
			</td>
			<td>
				Manamai
				- Kunnathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.900
			</td>
			<td>
				4.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				83
			</td>
			<td>
				Km.9/6
				of Acharapakkam - Annaikunnam Road to Cheyyur - Wandavasi Road to
				Madur - Kattukaranai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.810
			</td>
			<td>
				4.810
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				84
			</td>
			<td>
				C.P
				Road to Puthirankottai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.810
			</td>
			<td>
				4.810
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				85
			</td>
			<td>
				GST
				Road to Ozhalur - Manapakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				86
			</td>
			<td>
				Edayarpakkam-Narasingapuram
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				87
			</td>
			<td>
				Kodur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				88
			</td>
			<td>
				Km.13/2
				of SCKAT Road to Pandur - Ammanapakkam - Perumbedu - Kilapakkam
				Road
			</td>
			<td>
				4.600
			</td>
			<td>
				9.200
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				89
			</td>
			<td>
				Theetalam
				- Kozhiyalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.600
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				90
			</td>
			<td>
				Km.25/8
				of Nelvoy - Thirukalukundram Road to Kilapakkam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				91
			</td>
			<td>
				Arcot
				- Amainthankaranai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				92
			</td>
			<td>
				Kottamedu
				- Manamathy Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				93
			</td>
			<td>
				Km.2/4
				of Echur - Thiruporur Road to Thirunilai  H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.450
			</td>
			<td>
				4.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				94
			</td>
			<td>
				Thenpakkam
				- Kolathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				95
			</td>
			<td>
				Km.6/0
				of Guduvanchery - Kottamedu Road to Kumuzhi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				96
			</td>
			<td>
				Km.20/2
				of Mudukarai - Kadalore Road to Kodur (via) Sathiyamangalam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				97
			</td>
			<td>
				Mevalorekuppam
				- Nayapakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				98
			</td>
			<td>
				Padicherry
				- Ramanujapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				99
			</td>
			<td>
				Km.
				10/8 of Uthiramerur - Kammalampoondi - Acharapakkam Road to
				Kadambur (via) Alapakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.310
			</td>
			<td>
				4.310
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				100
			</td>
			<td>
				CKS
				Road to Vengadu (via) Irumbedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				101
			</td>
			<td>
				GST
				Road to Thirukatchur (via) Peramanur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				102
			</td>
			<td>
				M.K.Road
				to Anaicut (Via) Valodai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				103
			</td>
			<td>
				Angampakkam
				- Avalur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				104
			</td>
			<td>
				Kithirpettai
				H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				105
			</td>
			<td>
				Onambakkam
				- Venmani Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				106
			</td>
			<td>
				Maruvalam
				- Venmani Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				107
			</td>
			<td>
				Vedal
				- Kappivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				108
			</td>
			<td>
				Kundrathur
				Road  join Thiruneermalai - Thirumudivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				109
			</td>
			<td>
				Maduramangalam
				- Eittikuttymedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				110
			</td>
			<td>
				Kiliyanagar
				Junction to L.Endathur - Perumpakkam Road (via) Sempoondi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.100
			</td>
			<td>
				4.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				111
			</td>
			<td>
				Nallur
				- Karumbakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				112
			</td>
			<td>
				Somangalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				113
			</td>
			<td>
				Km.6/0
				of SCKAT Road to Nallur - Kollamedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				114
			</td>
			<td>
				Thodur
				- Kuthirambakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				115
			</td>
			<td>
				Oragadam
				H/C Road to Desamugipettai 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				116
			</td>
			<td>
				Murugampakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				117
			</td>
			<td>
				Mangadu
				- Pattu - Mugalivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				118
			</td>
			<td>
				Km.29/6
				of CKS Road to Irunkattukottai Road (via) Kattrambakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				119
			</td>
			<td>
				Km.17/6
				of SSTR to Balnallur (via) Vallam Kandigai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.700
			</td>
			<td>
				3.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				120
			</td>
			<td>
				Kavanoor
				- Pudhucheri to Athiyur  Melthuli Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.650
			</td>
			<td>
				3.650
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				121
			</td>
			<td>
				Athur
				Vadapathy Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				122
			</td>
			<td>
				Kovathur
				- Adaiyalachery Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				123
			</td>
			<td>
				Pavunjur
				- Anaicut Road to Kalkulam
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				124
			</td>
			<td>
				Orathi
				- Veppankaranai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				125
			</td>
			<td>
				Kooram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				126
			</td>
			<td>
				Sevilimedu
				- Venkatapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				127
			</td>
			<td>
				Musaravakkam
				- Kilar Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				128
			</td>
			<td>
				Km.7/4
				of Walajabad-Keelacheri Road to Kovalavedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				129
			</td>
			<td>
				Cheyyur
				- Panaiyur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				130
			</td>
			<td>
				Alan
				Salai
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				131
			</td>
			<td>
				Baluchetti
				- Musaravakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				132
			</td>
			<td>
				Varadharajapuram
				- Mudicur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				133
			</td>
			<td>
				Villiyambakkam
				- Sasthirambakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.500
			</td>
			<td>
				3.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				134
			</td>
			<td>
				Km.20/6
				of SCKAT Road to Sogandi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.500
			</td>
			<td>
				3.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				135
			</td>
			<td>
				Adhanoor
				H/C Road to Madambakkam Road (via) TTC Staff Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.500
			</td>
			<td>
				3.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				136
			</td>
			<td>
				Nellikuppam
				- Kattur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.450
			</td>
			<td>
				3.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				137
			</td>
			<td>
				Pichivakkam
				- Kandivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				138
			</td>
			<td>
				Thandarai
				- Alathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				139
			</td>
			<td>
				Venkatapuram
				- Vishar Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				140
			</td>
			<td>
				Vaiyavoor
				- Rajakulam - Madutham Road (via) Karur
			</td>
			<td>
				3.000
			</td>
			<td>
				6.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				141
			</td>
			<td>
				G.S.T.road
				to Pazhayanoor H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.320
			</td>
			<td>
				3.320
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				142
			</td>
			<td>
				Malaiyambakkam
				H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.300
			</td>
			<td>
				3.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				143
			</td>
			<td>
				Walajabad
				- Kolathur Road
			</td>
			<td>
				2.000
			</td>
			<td>
				5.300
			</td>
			<td>
				3.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				144
			</td>
			<td>
				Kaliyampettai
				- Rajampettai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				145
			</td>
			<td>
				Km.9/2
				of Walajabad-Keelacheri Road to Echur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				146
			</td>
			<td>
				Vadamangalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				147
			</td>
			<td>
				Sirukundram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				148
			</td>
			<td>
				Veerapuram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				149
			</td>
			<td>
				Thiruporur
				- Nemili Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				150
			</td>
			<td>
				Pennalur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				151
			</td>
			<td>
				Kooram
				- Vathiyur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				152
			</td>
			<td>
				The
				road branching at KM 18/10 of Chunambedu - Perumbair road to
				Ayakunnam (Via) Thozhuppedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				153
			</td>
			<td>
				MCB
				Road to Marudam (via) Singadivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				154
			</td>
			<td>
				Km.51/6
				of MVW Road to Mettupalayam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				155
			</td>
			<td>
				Palur
				- Singaperumalkoil Road to Guruvanmedu
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				156
			</td>
			<td>
				Orathy-
				Ananthamangalam Road to Siruthamoor H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				157
			</td>
			<td>
				Cheyyur
				- Wandavasi road to Gurupathamedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				158
			</td>
			<td>
				Meyyur
				- Pinayur Road to Pilappur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				159
			</td>
			<td>
				Vadakkupattu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				160
			</td>
			<td>
				Muthuvedu
				- Musaravakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.060
			</td>
			<td>
				3.060
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				161
			</td>
			<td>
				Thenneri-Agaram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				162
			</td>
			<td>
				Pondur
				 Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				163
			</td>
			<td>
				Veeranakunnam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				164
			</td>
			<td>
				KM
				18/2 Mudukarai - Kadalore road to Manikuppam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				165
			</td>
			<td>
				Pondur
				- Vilangadu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				166
			</td>
			<td>
				Orathur
				- Kavanoor Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				167
			</td>
			<td>
				Perumbair
				- Orathy Road to Kongarai - Kalathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				168
			</td>
			<td>
				Kambarajapuram
				- Kannadiyangudisai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				169
			</td>
			<td>
				Salavakkam
				- Annathur - Alapakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				170
			</td>
			<td>
				Uthiramerur
				- Kammalampoondi  - Acharapakkam Road to Cheyyur - Wandavasi Road
				(via) Kiliyanagar, Ottakoil Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				171
			</td>
			<td>
				Irumbulichery
				- Edaiyathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				172
			</td>
			<td>
				Km.8/2
				of Chengalpattu - Thiruporur Road to Perumthandalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.900
			</td>
			<td>
				2.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				173
			</td>
			<td>
				Singaperumalkoil
				- Reddykuppam Road to Sengundram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.870
			</td>
			<td>
				2.870
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				174
			</td>
			<td>
				Padalam
				- Cheyyur Road to Ammanoor Cart track Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.870
			</td>
			<td>
				2.870
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				175
			</td>
			<td>
				Km.28/4
				of Chennai - Mamallapuram Road to Karanai H/C Road
			</td>
			<td>
				2.000
			</td>
			<td>
				4.860
			</td>
			<td>
				2.860
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				176
			</td>
			<td>
				Km.18/0
				of SCKAT Road to Thazhambedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.850
			</td>
			<td>
				2.850
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				177
			</td>
			<td>
				Karanai
				- Kunnapattu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				178
			</td>
			<td>
				Othivakkam
				- Manapakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				179
			</td>
			<td>
				The
				Road Branching at Km.6/10 of SS Road to Pattikadu Road
			</td>
			<td>
				1.600
			</td>
			<td>
				4.400
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				180
			</td>
			<td>
				Km.35/6
				of C.V.K. Road to Urapakkam - Nallambakkam Road (via) Unamanchery
			</td>
			<td>
				2.000
			</td>
			<td>
				4.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				181
			</td>
			<td>
				Km.10/0
				of P.V.Kalathur Road to Salur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				182
			</td>
			<td>
				The
				Road Branching of KM.33/6 of NH45  to  Athanoor - Madambakkam
				(via) Kilambakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.100
			</td>
			<td>
				3.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				183
			</td>
			<td>
				Pazhanthandalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				184
			</td>
			<td>
				Pillaipakkam-Kaduvancheri
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.750
			</td>
			<td>
				2.750
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				185
			</td>
			<td>
				Km.5/6
				of Acharapakkam - Periyakalakadi road to Mugundagiri (Via)
				Perambakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.740
			</td>
			<td>
				2.740
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				186
			</td>
			<td>
				Km.54/4
				of NH 45 to Pulipakkam H/C (via) Pulipakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				187
			</td>
			<td>
				Cheyyur
				- Wandavasi road to Villivakkam -Zaminpudur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				188
			</td>
			<td>
				Kadapakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				189
			</td>
			<td>
				Ponniyamman
				Pattadai - Manthangal Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				190
			</td>
			<td>
				Kanchivakkam-Umayalparancheri
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				191
			</td>
			<td>
				Meyyur
				- Pinayur Road to Orakkattupettai (via) Kavithandalam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				192
			</td>
			<td>
				Valathancheri-Perinjambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				193
			</td>
			<td>
				Km
				50/4 G.S.T. Road to Vadagal (via) Chettipunniyam
			</td>
			<td>
				2.000
			</td>
			<td>
				4.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				194
			</td>
			<td>
				Km.74/0
				of ECR Road to Vasavasamudiram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				195
			</td>
			<td>
				Onambakkam
				- Venmani Road to  Nagamalai Road (Via) Viralur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				196
			</td>
			<td>
				Kodambakkam
				- Sriperumbudur Road to Mugalivakkam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				197
			</td>
			<td>
				Arakonam
				- Kancheepuram Road to Govindhavadi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.500
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				198
			</td>
			<td>
				A.K.
				Road to M.C.B Road (Via) Ammankulam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.500
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				199
			</td>
			<td>
				Km.1/6
				of Kancheepuram - Wandavasi Road to Thiruparuthikundram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.450
			</td>
			<td>
				2.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				200
			</td>
			<td>
				The
				road branching at KM 30/6 of Maduranthagam - Vennangupattu road
				to Villivakkam Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.440
			</td>
			<td>
				2.440
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				201
			</td>
			<td>
				Ariyanoor
				- Nesappakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				202
			</td>
			<td>
				Manampathy
				- Kandigai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				203
			</td>
			<td>
				Ponnerikarai
				- Paranthur Road to Siruvakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				204
			</td>
			<td>
				Nerkundram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				205
			</td>
			<td>
				Madayathur
				- Illalore Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				206
			</td>
			<td>
				Siruvakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				207
			</td>
			<td>
				Kaliyampoondi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				208
			</td>
			<td>
				Naduvakkarai
				- Perumbedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				209
			</td>
			<td>
				Arpakkam
				- Vayalore Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				210
			</td>
			<td>
				Chitharakudam
				- Pettai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				211
			</td>
			<td>
				O.A
				 Road to Kongarai road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				212
			</td>
			<td>
				Km.17/4
				of CKS Road to Karaimanagar (via) Irandamkattalai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				213
			</td>
			<td>
				Theetalam
				Village Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.240
			</td>
			<td>
				2.240
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				214
			</td>
			<td>
				Ammanambakkam
				 - Kollamedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.230
			</td>
			<td>
				2.230
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				215
			</td>
			<td>
				The
				Road Branching Km.3/10 of Abdullapuram - Moranam Road to
				Kolivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				216
			</td>
			<td>
				Arpakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				217
			</td>
			<td>
				Eachenkaranai
				- Periyakattupakkam Road 
				
			</td>
			<td>
				2.600
			</td>
			<td>
				4.800
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				218
			</td>
			<td>
				Araneri
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				219
			</td>
			<td>
				Ariyaperumbakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.360
			</td>
			<td>
				2.360
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				220
			</td>
			<td>
				Bukkathurai
				Union Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				221
			</td>
			<td>
				Km.3/2
				of Vennangupattu - Panaiyur road to Puduthottam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				222
			</td>
			<td>
				Elapakkam
				- Ramapuram - Mohalvadi - Kattukkaranai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				223
			</td>
			<td>
				Vattambakkam
				H/C  Road - Kanchivakkam Road
			</td>
			<td>
				0.200
			</td>
			<td>
				2.300
			</td>
			<td>
				2.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				224
			</td>
			<td>
				Km.0/8
				of Acharapakkam - Periyakalakkadi Road to Kayappakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.100
			</td>
			<td>
				2.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				225
			</td>
			<td>
				Vaiyavoor
				- Rajakulam Road to Enathur (via) Nallur Road
			</td>
			<td>
				0.800
			</td>
			<td>
				2.880
			</td>
			<td>
				2.080
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				226
			</td>
			<td>
				Seethanancheri
				- Sathanancheri Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				227
			</td>
			<td>
				Guduvanchery
				- Madampakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				228
			</td>
			<td>
				Sankarapuram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				229
			</td>
			<td>
				Ilaiyanarvellore
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				230
			</td>
			<td>
				Mocheri
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				231
			</td>
			<td>
				Thaiyur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				232
			</td>
			<td>
				Km.71/4
				of GST road to Janakipuram - Mettupalayam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				233
			</td>
			<td>
				Arakonam
				- Kancheepuram Road to Veliyur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				234
			</td>
			<td>
				Vilvarayanallur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				235
			</td>
			<td>
				Km.14/6
				of Cheyyur -Wandavasi road to Neerpair (Via) Thonnadu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				236
			</td>
			<td>
				Thellar
				- Veppankaranai - Vinnampoondi Road
			</td>
			<td>
				1.000
			</td>
			<td>
				3.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				237
			</td>
			<td>
				Attuppatti
				- Kottaipunchai - Kayapakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				238
			</td>
			<td>
				Nariyambakkam-Kuzhangalcheri
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				239
			</td>
			<td>
				Kaliyapettai
				H/C Road to Sathanancheri Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				240
			</td>
			<td>
				Umayalparnacheri
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				241
			</td>
			<td>
				Naduveerapattu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				242
			</td>
			<td>
				Thiruvadur
				- Ariyanoor Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				243
			</td>
			<td>
				Lathur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				244
			</td>
			<td>
				Mannur
				- Aranvayal Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				245
			</td>
			<td>
				The
				Road Branching at Km.19/8 of SCKAT Road to Oragadam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				246
			</td>
			<td>
				Sithanakavoor
				- Porpanthal Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				247
			</td>
			<td>
				Chinnaveppedu
				- Otteri Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				248
			</td>
			<td>
				Karai
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				249
			</td>
			<td>
				Sethupattu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				250
			</td>
			<td>
				Iyangarkulam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				251
			</td>
			<td>
				Kandivakkam
				- Nagapattu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				252
			</td>
			<td>
				Km.28/4
				of Chennai - Mamallapuram Road to Thazhambur H/C  Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				253
			</td>
			<td>
				The
				road branching at Km.14/6 of Cheyyur - Wandavasi Villivakkam Road
				to Surakuppam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.950
			</td>
			<td>
				1.950
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				254
			</td>
			<td>
				Magaral
				to Magaral Mettu Colony - Palla Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.880
			</td>
			<td>
				1.880
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				255
			</td>
			<td>
				Melamaiyur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.860
			</td>
			<td>
				1.860
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				256
			</td>
			<td>
				The
				Branching Road at Km.1/6 of Perumbair Orathy road to Edayalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.850
			</td>
			<td>
				1.850
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				257
			</td>
			<td>
				Km.21/8
				of Cheyyur - Wandavasi road to Poraiyur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.820
			</td>
			<td>
				1.820
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				258
			</td>
			<td>
				The
				road branching at KM 25/6 of Padalam - Cheyyur road to
				Siruvangunam (Via) Melapattu Road
			</td>
			<td>
				3.600
			</td>
			<td>
				5.400
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				259
			</td>
			<td>
				The
				Road Branching at Km.59/0 of SCKAT Road to Nathapettai Road
				Km.0/0 - 1/4 and Nathapettai Colony Road <br>
Km.0/0 - 0/4
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				260
			</td>
			<td>
				Anambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				261
			</td>
			<td>
				Perumbair
				- Kandigai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				262
			</td>
			<td>
				IIayanar
				vellore  - Sithathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				263
			</td>
			<td>
				The
				Road Branching at Km.59/4 of C.V.W.Road to Nathanallur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				264
			</td>
			<td>
				Asur
				- Nelveli Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				265
			</td>
			<td>
				Vellapakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.750
			</td>
			<td>
				1.750
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				266
			</td>
			<td>
				Vembanur
				- Kadapakkam - Kasipettai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.660
			</td>
			<td>
				1.660
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				267
			</td>
			<td>
				Kiliyanagar
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				268
			</td>
			<td>
				Vedanthangal
				- Chithrakoodam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				269
			</td>
			<td>
				Meppur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				270
			</td>
			<td>
				Kottaikadu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				271
			</td>
			<td>
				Vaiyavoor
				- Rajakulam - Kodur - Nallur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				272
			</td>
			<td>
				Vandalore
				- Walajabad Road to Kunnavakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				273
			</td>
			<td>
				Thirumani
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				274
			</td>
			<td>
				Ammanambakkam
				 Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				275
			</td>
			<td>
				Sembakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				276
			</td>
			<td>
				Arpakkam
				- Vayalore Road to Kavanthandalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				277
			</td>
			<td>
				Vadakadambadi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				278
			</td>
			<td>
				Villivalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				279
			</td>
			<td>
				Padunelli
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				280
			</td>
			<td>
				Ayapakkam
				H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				281
			</td>
			<td>
				The
				road branching at KM 4/6 of Chunambedu - Perumbair road to
				Arasoor Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				282
			</td>
			<td>
				Chennai
				- Kodambakkam - Sriperumbudur Road to Nallur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				283
			</td>
			<td>
				Kizhambi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				284
			</td>
			<td>
				Nallur
				- Somangalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				285
			</td>
			<td>
				Adayalachery
				to E.C.R Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.490
			</td>
			<td>
				1.490
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				286
			</td>
			<td>
				Valathottam
				- Pallavaram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.440
			</td>
			<td>
				1.440
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				287
			</td>
			<td>
				Thandaraipettai
				- Kozhiyalam Road 
				
			</td>
			<td>
				2.200
			</td>
			<td>
				3.600
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				288
			</td>
			<td>
				Vadakkupattu
				- Guruvanmedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				289
			</td>
			<td>
				Nazarahpettai-Malayambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				290
			</td>
			<td>
				Kiliyanagar
				- Thirvathiyur - Ulunthai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				291
			</td>
			<td>
				Chinnapanicheri
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				292
			</td>
			<td>
				Thimmasamuthiram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				293
			</td>
			<td>
				Pudupakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				294
			</td>
			<td>
				Muthugai
				Nallankuppam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				295
			</td>
			<td>
				Ravathanallur
				Kandigai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.350
			</td>
			<td>
				1.350
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				296
			</td>
			<td>
				Nandambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.350
			</td>
			<td>
				1.350
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				297
			</td>
			<td>
				Neeradi
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.325
			</td>
			<td>
				1.325
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				298
			</td>
			<td>
				C.K.S.
				Road to Thandalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.300
			</td>
			<td>
				1.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				299
			</td>
			<td>
				G.S.T.road
				to Mamandur H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.300
			</td>
			<td>
				1.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				300
			</td>
			<td>
				Road
				branching at Km 4/10 of G.S.T Road to Endathur Road to
				Perumbakkam - Thandarai -  Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.300
			</td>
			<td>
				1.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				301
			</td>
			<td>
				The
				road branching at KM 11/4 of Vennangupattu - Panaiyur road to
				Thazhuthalikuppam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.250
			</td>
			<td>
				1.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				302
			</td>
			<td>
				Nandivaram
				H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				303
			</td>
			<td>
				Azhichur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				304
			</td>
			<td>
				Mudukarai
				- Kadalur road to Padalam - Cheyyur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				305
			</td>
			<td>
				GST
				Road to Acharapakkam Loop Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				306
			</td>
			<td>
				Vennangupattu
				- Panaiyur road to Karumbakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				307
			</td>
			<td>
				Vennangupattu
				- Panaiyur  Road
			</td>
			<td>
				11.800
			</td>
			<td>
				13.000
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				308
			</td>
			<td>
				Kunnavakkam
				- Elakkamangalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				309
			</td>
			<td>
				Km.8/2
				of SCKAT Road to Natham Kariyachery -Kalkulam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				310
			</td>
			<td>
				Kilar
				- Kalathur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				311
			</td>
			<td>
				Amarambedu
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				312
			</td>
			<td>
				The
				Branching Road at Km.1/2 of Nerumbur - Pudupattinam Road to
				Edaiyathur (via) Irumbulichery Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				313
			</td>
			<td>
				Palayaseevaram
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.100
			</td>
			<td>
				1.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				314
			</td>
			<td>
				Siruchery
				H/C Road to Thazhambur H/C and Karanai H/C Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.050
			</td>
			<td>
				1.050
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				315
			</td>
			<td>
				Marudham
				- Salavakkam Road to Marudham Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				316
			</td>
			<td>
				Guduvanchery
				- Kottamedu Road to Kayarambedu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				317
			</td>
			<td>
				Mount
				- Poonamallee Road - Mugalivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				318
			</td>
			<td>
				Perinjambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				319
			</td>
			<td>
				Uthukattu
				- Chinnivakkam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				320
			</td>
			<td>
				Rettamangalam
				- Senthankulam Road
			</td>
			<td>
				1.200
			</td>
			<td>
				2.200
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				321
			</td>
			<td>
				Singaperumalkoil
				- Sriperumbudur Road Thirukatchur  Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.830
			</td>
			<td>
				0.830
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				322
			</td>
			<td>
				Pallur
				- Sogandi Road to Varadharajapuram (via) Samanthipuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				323
			</td>
			<td>
				Sadras
				Bus Stand Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				324
			</td>
			<td>
				Kolathur
				Road
			</td>
			<td>
				1.200
			</td>
			<td>
				2.000
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				325
			</td>
			<td>
				Mamandur
				- Suruttal Road
			</td>
			<td>
				8.000
			</td>
			<td>
				8.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				326
			</td>
			<td>
				Kalakattur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				327
			</td>
			<td>
				E.C.R
				Road to Koovathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				328
			</td>
			<td>
				Thirukatchur
				Maruntheeswarar Kovil Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.770
			</td>
			<td>
				0.770
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				329
			</td>
			<td>
				Pakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.750
			</td>
			<td>
				0.750
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				330
			</td>
			<td>
				Alambarai
				kottai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.705
			</td>
			<td>
				0.705
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				331
			</td>
			<td>
				Nallamoor
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.700
			</td>
			<td>
				0.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				332
			</td>
			<td>
				Kovalam
				ICE Plant Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				333
			</td>
			<td>
				Kodur
				Union Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				334
			</td>
			<td>
				Poonthandalam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				335
			</td>
			<td>
				Pinayur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				336
			</td>
			<td>
				Mamallapuram
				Five Ratha Salai 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				337
			</td>
			<td>
				Thenambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.500
			</td>
			<td>
				0.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				338
			</td>
			<td>
				Neelamangalam
				Village Feedar Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.490
			</td>
			<td>
				0.490
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				339
			</td>
			<td>
				Kadapakkam
				Kuppam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.465
			</td>
			<td>
				0.465
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				340
			</td>
			<td>
				Chunambedu
				Loop Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				341
			</td>
			<td>
				Lathur
				Union Road
			</td>
			<td>
				2.000
			</td>
			<td>
				2.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				342
			</td>
			<td>
				M.K.Road
				to Ariyanoor Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				343
			</td>
			<td>
				Mamallapuram
				Light House Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				344
			</td>
			<td>
				Mamallapuram
				East Rajaveethi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				345
			</td>
			<td>
				Mamallapuram
				Seashore Temple Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				346
			</td>
			<td>
				Mamallapurm
				West Raja Street
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				347
			</td>
			<td>
				Pudupattinam
				Byepass Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				348
			</td>
			<td>
				Thargaskandigai
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				349
			</td>
			<td>
				Feedar
				Road to Kozhiyalam Village Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				350
			</td>
			<td>
				Approach
				Road to Pudupakkam Adhi Dravidar Colony
			</td>
			<td>
				0.000
			</td>
			<td>
				0.330
			</td>
			<td>
				0.330
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				351
			</td>
			<td>
				The
				Branching Road at Km.1/4 of Thalambur Adhi Dravidar Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.300
			</td>
			<td>
				0.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				352
			</td>
			<td>
				Mamallapuram
				 Sculpture Training School Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.300
			</td>
			<td>
				0.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				353
			</td>
			<td>
				Sadras
				Bus Stand Link Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.280
			</td>
			<td>
				0.280
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				354
			</td>
			<td>
				Thazhambur
				Road to Karanai Adhi Dravidar Colony Approach Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.250
			</td>
			<td>
				0.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				355
			</td>
			<td>
				Sengazhuneer
				Odai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.250
			</td>
			<td>
				0.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				356
			</td>
			<td>
				Feeder
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.250
			</td>
			<td>
				0.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				357
			</td>
			<td>
				Mamallapuram
				South Mada Street
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				358
			</td>
			<td>
				The
				Branching Road Km.2/4 of Thirunilai Road to Melkanakkapattu Adhi
				Diravidar Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				359
			</td>
			<td>
				Chethupattu
				Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				360
			</td>
			<td>
				Mamallapuram
				- Thirukalukundram North Street
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				361
			</td>
			<td>
				Viralur
				- Vettukadu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				362
			</td>
			<td>
				Mamallapuram
				Kovalam Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.180
			</td>
			<td>
				0.180
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				363
			</td>
			<td>
				Pada
				salai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.110
			</td>
			<td>
				0.110
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				
			</td>
			<td>
				<b>Total</b>
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				<b>1286.680</b>
			</td>
		</tr>
	</tbody>
</table>
