<table id="otherdistrict" style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
	
	<tbody>
		<tr>
			<td>
				<b>Sl.<br>
No</b>
			</td>
			<td>
				<b>Name
				of the Road</b>
			</td>
			<td>
				<b>Starting
				KM.</b>
			</td>
			<td>
				<b>Ending
				KM</b>
			</td>
			<td>
				<b>Total
				Length KM.</b>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td>
				Madambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				2
			</td>
			<td>
				V.K
				Road to Medavakkam Mambakkam Road
			</td>
			<td>
				9.200
			</td>
			<td>
				13.600
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				3
			</td>
			<td>
				MBI
				Road Km 9/2 to S. Kollathur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.270
			</td>
			<td>
				3.270
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				4
			</td>
			<td>
				Kovilambakkam
				to Pallavaram Municpal Limit Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				5
			</td>
			<td>
				Grand
				Southern Trunk Loop Road
			</td>
			<td>
				2.500
			</td>
			<td>
				5.400
			</td>
			<td>
				2.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				6
			</td>
			<td>
				Ottiambakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				7
			</td>
			<td>
				Santhoshapuram
				 Mambakkam Road Via Vengaivasal
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				8
			</td>
			<td>
				Pammal
				Thiruneermalai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.500
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				9
			</td>
			<td>
				Darga
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				10
			</td>
			<td>
				Chitlapakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				11
			</td>
			<td>
				Nanganallur
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				12
			</td>
			<td>
				Pammal
				Pozhichalur Road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				13
			</td>
			<td>
				Pallavaram
				to Cowl Bazar Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.535
			</td>
			<td>
				1.535
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				14
			</td>
			<td>
				Rajendra
				Prasad Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				15
			</td>
			<td>
				Tambaram
				Thiruneermalai
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				16
			</td>
			<td>
				Thirisulam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				17
			</td>
			<td>
				Puzhudivakkam
				Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				18
			</td>
			<td>
				Pozhichalur
				Cowl bazar Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				19
			</td>
			<td>
				Interior
				 Roads in Highways Campus
			</td>
			<td>
				0.000
			</td>
			<td>
				1.150
			</td>
			<td>
				1.150
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				20
			</td>
			<td>
				Km
				28/0 of GST Road to Peerkankaranai Road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				21
			</td>
			<td>
				Chiambaram
				Stores to  SBI Colony Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.700
			</td>
			<td>
				0.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				22
			</td>
			<td>
				Cowl
				bazar Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				23
			</td>
			<td>
				Anna
				Nagar- Pozhichalur Link Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.540
			</td>
			<td>
				0.540
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				24
			</td>
			<td>
				Mount
				- Medavakkam Road to Thirisoolam Road (via) Moovarasampet
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				25
			</td>
			<td>
				Mambakkam
				- Vengaivasal Road
			</td>
			<td>
				0.500
			</td>
			<td>
				1.000
			</td>
			<td>
				0.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				
			</td>
			<td>
				<b>Total</b>
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				<b>49.395</b>
			</td>
		</tr>
	</tbody>
</table>
