<table id="otherdistrict" style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">

	<tbody>
		<tr>
			<td>
				<b>Sl.<br>
No</b>
			</td>
			<td>
				<b>Name
				of the Road</b>
			</td>
			<td>
				<b>Starting
				KM.</b>
			</td>
			<td>
				<b>Ending
				KM</b>
			</td>
			<td>
				<b>Total
				Length KM.</b>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td>
				Pennadam-Vridhachalam
				road and Uchimedu link road
			</td>
			<td>
				0.000<br>
0.000
			</td>
			<td>
				18.750<br>
1.200
			</td>
			<td>
				19.950
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				2
			</td>
			<td>
				Mangalampettai-Manalur
				road (via) Mugasaparur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				18.200
			</td>
			<td>
				18.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				3
			</td>
			<td>
				Tholudur-Vadagarampoondi
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				17.200
			</td>
			<td>
				17.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				4
			</td>
			<td>
				Sethiyathope-Kammapuram
				road (via) Veeramudayanatham 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				15.200
			</td>
			<td>
				15.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				5
			</td>
			<td>
				Keelkalpoondi-Sirupakkam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				13.800
			</td>
			<td>
				13.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				6
			</td>
			<td>
				Periyakattusagai-Pathirakottai
				road (via) Puliyur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				13.800
			</td>
			<td>
				13.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				7
			</td>
			<td>
				Neyveli
				limit - Karukkai road (via) Muthandikuppam-Kudiyiruppu 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				13.600
			</td>
			<td>
				13.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				8
			</td>
			<td>
				Kumaratchi-Vallampadugai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				13.400
			</td>
			<td>
				13.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				9
			</td>
			<td>
				Kadampuliyur-Keelakuppam
				road (via) Kattupalayam-Melmettukuppam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				13.000
			</td>
			<td>
				13.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				10
			</td>
			<td>
				Gunamangalam-Gudalaiyathur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				12.400
			</td>
			<td>
				12.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				11
			</td>
			<td>
				Silambimangalam-Portonovo
				road (via) Samiyarpettai-Pudukuppam-Chinnoor road
			</td>
			<td>
				0.000
			</td>
			<td>
				12.315
			</td>
			<td>
				12.315
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				12
			</td>
			<td>
				Thookanampakkam-Keelkumaramangalam-Reddichavadi
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				11.200
			</td>
			<td>
				11.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				13
			</td>
			<td>
				Orathur-T.Neduncherry
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.800
			</td>
			<td>
				10.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				14
			</td>
			<td>
				Chidambaranathanpettai-C.Manampady
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.500
			</td>
			<td>
				10.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				15
			</td>
			<td>
				Akkaravelagudy-Sivayam
				road (via) Kattugudalore 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.400
			</td>
			<td>
				10.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				16
			</td>
			<td>
				Ambalavananpettai-Puliyur-Othiyadikuppam
				road
			</td>
			<td>
				0.000<br>
3.400<br>
7.000
			</td>
			<td>
				2.800<br>
5.000<br>
11.900
			</td>
			<td>
				9.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				17
			</td>
			<td>
				Avinangudy-Tholar
				road (via) Adamangalam
			</td>
			<td>
				0.000
			</td>
			<td>
				9.900
			</td>
			<td>
				9.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				18
			</td>
			<td>
				Kadampuliyur-Silambinathanpettai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.400
			</td>
			<td>
				9.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				19
			</td>
			<td>
				Vadakkumelur-Keelur-Pacharapalayam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.400
			</td>
			<td>
				9.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				20
			</td>
			<td>
				Nallur-Memathur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.360
			</td>
			<td>
				9.360
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				21
			</td>
			<td>
				Melapalaiyur-Keeramangalam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				9.300
			</td>
			<td>
				9.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				22
			</td>
			<td>
				Kattumailur-Kongarampalayam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				23
			</td>
			<td>
				The
				road from km.31/2 of Vikkiravandi-Kumbakonam-Thanjavur road to
				C.N.Palayam road (via) Sathipattu.
			</td>
			<td>
				0.000
			</td>
			<td>
				8.900
			</td>
			<td>
				8.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				24
			</td>
			<td>
				Mangalore-Lakkur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.900
			</td>
			<td>
				8.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				25
			</td>
			<td>
				The
				road from km.2/4 of Karuveppilankurichi - Rajendirapattinam to
				Gunamangalam road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.735
			</td>
			<td>
				8.735
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				26
			</td>
			<td>
				Anaikaranchathiram-Manikollai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.665
			</td>
			<td>
				8.665
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				27
			</td>
			<td>
				Puduchathiram-Poovalai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.600
			</td>
			<td>
				8.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				28
			</td>
			<td>
				Thaiyalgunampattinam-Renganathapuram-Kannady
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.600
			</td>
			<td>
				8.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				29
			</td>
			<td>
				Sirupakkam-Sitheri
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.400
			</td>
			<td>
				8.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				30
			</td>
			<td>
				Ponneri
				Tank Bund road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.400
			</td>
			<td>
				8.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				31
			</td>
			<td>
				Bhudavarayanpettai-Krishnapuram
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.400
			</td>
			<td>
				8.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				32
			</td>
			<td>
				Vegakollai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.200
			</td>
			<td>
				8.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				33
			</td>
			<td>
				Meliruppu-Athirikuppam-Perperiyankuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				8.000
			</td>
			<td>
				8.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				34
			</td>
			<td>
				The
				road from km.30/6 of VKT road to Keeliruppu road (via)
				Panikkankuppam
			</td>
			<td>
				0.000
			</td>
			<td>
				7.800
			</td>
			<td>
				7.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				35
			</td>
			<td>
				Melavanniyur-Veeranatham
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.800
			</td>
			<td>
				7.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				36
			</td>
			<td>
				Mannargudy-Omampuliyur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				7.200
			</td>
			<td>
				7.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				37
			</td>
			<td>
				Thirunaraiyur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.200
			</td>
			<td>
				7.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				38
			</td>
			<td>
				Kannarapettai-Ramapuram-Sathankuppam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.070
			</td>
			<td>
				7.070
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				39
			</td>
			<td>
				The
				road branching at km.37/9 of Vikkiravandi-Kumbakonam-Thanjavur
				road to Siruthondamadevi road (via) Alagappasamuthiram
			</td>
			<td>
				0.000
			</td>
			<td>
				7.050
			</td>
			<td>
				7.050
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				40
			</td>
			<td>
				E.Keeranur-Pudukulam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				7.000
			</td>
			<td>
				7.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				41
			</td>
			<td>
				Anathur-Perangiyur
				road
			</td>
			<td>
				1.800
			</td>
			<td>
				8.800
			</td>
			<td>
				7.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				42
			</td>
			<td>
				Sitheri-Korakkavadi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.800
			</td>
			<td>
				6.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				43
			</td>
			<td>
				Rasakuppam-Arangamangalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.680
			</td>
			<td>
				6.680
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				44
			</td>
			<td>
				Jeyankondam-Nathamedu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.600
			</td>
			<td>
				6.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				45
			</td>
			<td>
				Chidambaram-Sivapuri-Kavarapattu
				road 
				
			</td>
			<td>
				1.400
			</td>
			<td>
				7.800
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				46
			</td>
			<td>
				Adoorkuppam-Kannady
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.450
			</td>
			<td>
				6.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				47
			</td>
			<td>
				The
				road from km.29/8 of Cuddalore-Chittoor road to Meliruppu road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				48
			</td>
			<td>
				Palakollai
				- Nadiyapattu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				49
			</td>
			<td>
				Sathipattu-S.Pudupalayam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.300
			</td>
			<td>
				6.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				50
			</td>
			<td>
				Pethanayakankuppam-Melapudupettai
				road  (panchayat Union road Km. 0/0-0/700)
			</td>
			<td>
				0.000
			</td>
			<td>
				6.200
			</td>
			<td>
				6.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				51
			</td>
			<td>
				Sirugiramam-Anathur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.060
			</td>
			<td>
				6.060
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				52
			</td>
			<td>
				Maligaimedu-Melkumaramangalam
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				53
			</td>
			<td>
				Eyyalur-Omampuliyur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				54
			</td>
			<td>
				Arasadikuppam-S.Pudukuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				55
			</td>
			<td>
				B.Udaiyur-Vadathalaikulam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				56
			</td>
			<td>
				Bhuvanagiri-Melamanagudy
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				57
			</td>
			<td>
				The
				road from km.8/4 of Cuddalore-Vridhachalam-Salem road to
				Subramaniapuram to Ramapuram road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.800
			</td>
			<td>
				5.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				58
			</td>
			<td>
				Puduvilagam-Sathamangalam
				road (0/8-1/2 except)
			</td>
			<td>
				0.000
			</td>
			<td>
				6.200
			</td>
			<td>
				5.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				59
			</td>
			<td>
				Kumaragudy-Nachiyarpettai
				road to Kavalagudy road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.700
			</td>
			<td>
				5.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				60
			</td>
			<td>
				Sozhathiram-Srimushnam
				road to Ramapuram road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				61
			</td>
			<td>
				Palayamkottai-Kondasamuthiram
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				62
			</td>
			<td>
				The
				road from km.8/6 of Cuddalore-Vridhachalam-Salem road to
				Sathankuppam road (via) Thirumanikuzhi.
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				63
			</td>
			<td>
				Arasakuzhi-Mudhanai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				64
			</td>
			<td>
				Karaimedu-Marudur-Kolagudy
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				65
			</td>
			<td>
				Edayar-Thirumoolasthanam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.400
			</td>
			<td>
				5.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				66
			</td>
			<td>
				Chennai-Thiruchi-Dindugal
				road to Korakkai road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.200
			</td>
			<td>
				5.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				67
			</td>
			<td>
				Thotti-Vellapakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.100
			</td>
			<td>
				5.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				68
			</td>
			<td>
				Kurinjipady-Kalkunam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				69
			</td>
			<td>
				Mettupalayam-Ayeethurai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				70
			</td>
			<td>
				B.
				Sitheri road(panchayat Union road Km. 0/0-5/0)
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				71
			</td>
			<td>
				Malayanur-Orangur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				72
			</td>
			<td>
				Aranthangi-Sithamalli
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				73
			</td>
			<td>
				Vennaiyur-Vetchur-Vellur
				road (via)Vandayariruppu 
				
			</td>
			<td>
				0.000<br>
2.400
			</td>
			<td>
				3.400<br>
3.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				74
			</td>
			<td>
				Periyapattu-Andarmullipallam-Poochimedu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				75
			</td>
			<td>
				Sathapady-Vayalamur-Poovalai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				76
			</td>
			<td>
				Thirchopuram-Thiyagavalli-Naduthittu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				77
			</td>
			<td>
				The
				road from km.29/8 of Vikkiravandi-Kumbakonam-Thanjavur road to
				Sathipattu road (via) Erulankuppam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.600
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				78
			</td>
			<td>
				T.Pudaiyur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.600
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				79
			</td>
			<td>
				Kachirayanatham
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.600
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				80
			</td>
			<td>
				Seplanatham-Kottagam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				81
			</td>
			<td>
				Silambinathanpettai-C.N.Palayam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.440
			</td>
			<td>
				4.440
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				82
			</td>
			<td>
				Chinnapettai-Akkadavalli
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				83
			</td>
			<td>
				Kandrakottai-Thiruthuraiyur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				84
			</td>
			<td>
				Panapakkam-Viringipakkam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				85
			</td>
			<td>
				The
				road from km.16/0 of Cuddalore-Chittoor road to Melpattampakkam
				road (via) Narimedu
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				86
			</td>
			<td>
				Moovur-Ayangudy
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				87
			</td>
			<td>
				Nattarmangalam-Kudikadu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				88
			</td>
			<td>
				Annakarankuppam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				89
			</td>
			<td>
				S.Pudukuppam-Puliyurkattusagai
				road 
				
			</td>
			<td>
				6.000
			</td>
			<td>
				10.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				90
			</td>
			<td>
				The
				road from km.18/6 of Cuddalore-Chittoor road to Madhakadipattu
				road (via) Kozhipakkam
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				91
			</td>
			<td>
				S.Naraiyur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				92
			</td>
			<td>
				Poovanur-Veerareddikuppam
				road (via) Mathur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				93
			</td>
			<td>
				Ko.Pavazhangudy
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				94
			</td>
			<td>
				Siruvambar
				road 
				
			</td>
			<td>
				14.400
			</td>
			<td>
				18.600
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				95
			</td>
			<td>
				Sarvarajanpettai
				road (via) Ma.Kolagudy road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.100
			</td>
			<td>
				4.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				96
			</td>
			<td>
				Alapakkam-Periyakuppam
				road (via) Thiruchopuram 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.100
			</td>
			<td>
				4.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				97
			</td>
			<td>
				The
				road from km.34/4 of Cuddalore-Chittoor road to Sendanadu (via)
				Somasipalayam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				98
			</td>
			<td>
				Ramapuram-Thandakarankuppam
				road (via) Valeespettai (except 2/4-3/3)
			</td>
			<td>
				0.000<br>
3.300
			</td>
			<td>
				2.400<br>
4.900
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				99
			</td>
			<td>
				Nallathur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				100
			</td>
			<td>
				Valasai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.950
			</td>
			<td>
				3.950
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				101
			</td>
			<td>
				The
				road from km.23/4 of Vridhachalam-Tholudur road to Kottaram road
				(via) Sengamedu-T.Kudikadu 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.900
			</td>
			<td>
				3.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				102
			</td>
			<td>
				Cuddalore-Vridhachalam-Salem
				road to Alapakkam road (via) Thondamanatham 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.900
			</td>
			<td>
				3.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				103
			</td>
			<td>
				T.B.Hospital
				road to Vazhisothanaipalayam road and Andipalayam join road 
				
			</td>
			<td>
				0.000<br>
0.000
			</td>
			<td>
				3.510<br>
0.300
			</td>
			<td>
				3.810
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				104
			</td>
			<td>
				Road
				from km 1/2 of Sitharasur road joined at km 0/8 of Nellikuppam
				west diversion road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				105
			</td>
			<td>
				The
				road from km.33/4 of Cuddalore-Chittoor road to Kamatchipettai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				106
			</td>
			<td>
				Pagandai-Melpattampakkam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				107
			</td>
			<td>
				Sorathankuzhi-Sorathur-Neyveli
				limit road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				108
			</td>
			<td>
				Thambipettai-Thimmaravuthankuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				109
			</td>
			<td>
				Abathanapuram-Elangonagar
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.670
			</td>
			<td>
				3.670
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				110
			</td>
			<td>
				Kodipallam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.650
			</td>
			<td>
				3.650
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				111
			</td>
			<td>
				Kalaiyur-Irandayiravilagam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				112
			</td>
			<td>
				Pennadam-P.Kollathankurichi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				113
			</td>
			<td>
				Kazhuthur-Sirukarambalur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				114
			</td>
			<td>
				Murugankudi-Kilimangalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				115
			</td>
			<td>
				Sakkankudi-Keelnatham
				road to Veeranam Tank Bund road (via) South Arirajapuram 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				116
			</td>
			<td>
				Boothangudy-Sathamangalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				117
			</td>
			<td>
				Sethiyathope-Kammapuram
				road to Gudalaiyathur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				118
			</td>
			<td>
				The
				road from km.23/6 of Kullanchavady-Kattugudalore road to
				Elavathady road (via) Pulavankuppam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				119
			</td>
			<td>
				Ambalpuram
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				120
			</td>
			<td>
				The
				road branching from CTD km.229/6 to Ma.Pudaiyur - Sirupakkam road
				to join (via) Pazzar-Vinayaganandal  
				
			</td>
			<td>
				5.000
			</td>
			<td>
				8.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				121
			</td>
			<td>
				Marudhadu-Erandayiravilagam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.450
			</td>
			<td>
				3.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				122
			</td>
			<td>
				Semakottai-Manamthavizhthaputhur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				123
			</td>
			<td>
				Sitharasur-Arungunam-Nathan
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				124
			</td>
			<td>
				Elleri-Lalpettai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				125
			</td>
			<td>
				Gunamangalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				126
			</td>
			<td>
				Srimushnam-Andimadam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				127
			</td>
			<td>
				Madharsoodamani
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				128
			</td>
			<td>
				Pallipadai-Kandamangalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				129
			</td>
			<td>
				K.Adoor
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				130
			</td>
			<td>
				The
				road from km.8/6 of Kullanchavadi-Kattugudalore road to
				Siruthondamadevi road (via) A.Pudur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				131
			</td>
			<td>
				The
				road from km.5/2 of Sathipattu - C.N. Palayam to Narimedu road
				(via) Palapattu.
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				132
			</td>
			<td>
				Puliyur
				village road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				133
			</td>
			<td>
				Pinnalur-Manjakollai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				134
			</td>
			<td>
				Perur
				-Mudikandanallur road(panchayat Union road <br>
Km. 0/0-3/4
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				135
			</td>
			<td>
				Kotteri
				- Mudhanai road (panchayat Union road Km. 0/0-3/4
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				136
			</td>
			<td>
				The
				road from km.7/10 of Cuddalore-Chittoor road to Ezhumedu (via)
				Andipalayam-Vathiyapallai 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.213
			</td>
			<td>
				3.213
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				137
			</td>
			<td>
				The
				road from km.8/2 of Cuddalore-Thirukoilur-Sankarapuram road to
				Melpathi road (via) Sundaravandi road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				138
			</td>
			<td>
				Sirumoolai
				road 
				
			</td>
			<td>
				2.400
			</td>
			<td>
				5.600
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				139
			</td>
			<td>
				Ezhuthur-Thatchur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				140
			</td>
			<td>
				Chettithangal-Ayankudi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				141
			</td>
			<td>
				The
				road branching from km.12/6 of Vridhachalam-Kattugudalore road to
				Periyakappankulam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				142
			</td>
			<td>
				Sirupalaiyur
				road (via) Theerthanagiri
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				143
			</td>
			<td>
				Vridhachalam
				- palakollai  road Km. 13/4 to Erulakurichi road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.100
			</td>
			<td>
				3.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				144
			</td>
			<td>
				Vannankudikadu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.100
			</td>
			<td>
				3.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				145
			</td>
			<td>
				Thirasu-Pulavanur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.025
			</td>
			<td>
				3.025
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				146
			</td>
			<td>
				Vallam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				147
			</td>
			<td>
				Kolakudi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				148
			</td>
			<td>
				Muttam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				149
			</td>
			<td>
				NH45A
				to Ariyakozhti road (via) Sellankuppam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.900
			</td>
			<td>
				2.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				150
			</td>
			<td>
				Semmedu-Karukkai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.843
			</td>
			<td>
				2.843
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				151
			</td>
			<td>
				Road
				from km 6/10 of Puthur road to Ponneri-Vilagam road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.825
			</td>
			<td>
				2.825
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				152
			</td>
			<td>
				Ayeethurai-Mettupalayam
				(via) Poovanikuppam road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				153
			</td>
			<td>
				Puliyur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.750
			</td>
			<td>
				2.750
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				154
			</td>
			<td>
				OrathurMaduranthaganallur
				road to Mangankulam road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.700
			</td>
			<td>
				2.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				155
			</td>
			<td>
				K.Kuchipalayam-Maligaimedu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.693
			</td>
			<td>
				2.693
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				156
			</td>
			<td>
				The
				road from km.8/4 of Cuddalore-Chittoor road to join at km.7/10 of
				Cuddalore-Thirukoilur-Sankarapuram road (via) Karamanikuppam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.660
			</td>
			<td>
				2.660
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				157
			</td>
			<td>
				Oraiyur-Reddikuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				158
			</td>
			<td>
				The
				road from km.10/4 of Eraiyur-Kandappankurichi road to Edaiyur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				159
			</td>
			<td>
				T.Agaram-Nithinatham-Arugeri
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				160
			</td>
			<td>
				Nathamalai-Maniyam-Addor
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				161
			</td>
			<td>
				Meyyathur-Themmur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				162
			</td>
			<td>
				Lalpuram-Mandapam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				163
			</td>
			<td>
				Sottavanam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				164
			</td>
			<td>
				Kolliruppu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				165
			</td>
			<td>
				Siruvatur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				166
			</td>
			<td>
				Road
				from NH 45A to Gundu Uppalavadi road
			</td>
			<td>
				0.800
			</td>
			<td>
				3.400
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				167
			</td>
			<td>
				The
				road from km.12/6 of Cuddalore-Pallineliyanur road to
				Thennampakkam road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				168
			</td>
			<td>
				The
				road from km.4/8 of Kumaragudi-Nachiyarpettai to Valasakadu road
			</td>
			<td>
				1.800
			</td>
			<td>
				4.350
			</td>
			<td>
				2.550
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				169
			</td>
			<td>
				Kullanchavady-Samatikuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.500
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				170
			</td>
			<td>
				Kilanjkadu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.500
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				171
			</td>
			<td>
				The
				road from km.24/4 of Vikkiravandi-Kumbakonam-Thanjavur road to
				Maligaimedu (via) Soorakuppam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				172
			</td>
			<td>
				Pagandai-Melkumaramangalam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				173
			</td>
			<td>
				Kilingikuppam-Poonjolaikuppam-Muttam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				174
			</td>
			<td>
				Agaraputhur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				175
			</td>
			<td>
				Nakkaravanthankudi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				176
			</td>
			<td>
				Road
				from NH 45A to Mela Moongiladi road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				177
			</td>
			<td>
				Kuppanatham
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				178
			</td>
			<td>
				Murukesanpettai-Suthukulam-Sanarapalayam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				179
			</td>
			<td>
				The
				road from km.2/4 of CTS road to Arisiperiyankuppam road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				180
			</td>
			<td>
				Erumbur-Nellikuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				181
			</td>
			<td>
				The
				road from km.31/2 of Cuddalore-Vridhachalam-Salem road to
				Ellappanpettai road and Harijana colony link road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				182
			</td>
			<td>
				Sendiragkillai
				Village Road (panchayat Union road<br>
Km. 0/0-2/4)
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				183
			</td>
			<td>
				Maligaimedu-Eripalayam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.350
			</td>
			<td>
				2.350
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				184
			</td>
			<td>
				Palvaikandan
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				185
			</td>
			<td>
				Jayankondapattinam
				road
			</td>
			<td>
				3.500
			</td>
			<td>
				5.800
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				186
			</td>
			<td>
				A.Kuravankuppam-Manakathi
				road (via) Keelpathy
			</td>
			<td>
				0.000
			</td>
			<td>
				2.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				187
			</td>
			<td>
				Mavadupalayam
				road
			</td>
			<td>
				1.000
			</td>
			<td>
				3.300
			</td>
			<td>
				2.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				188
			</td>
			<td>
				Keezha
				Moongiladi - C. Mutlur(panchayat Union road<br>
 Km. 0/0-0/700) 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.250
			</td>
			<td>
				2.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				189
			</td>
			<td>
				Arasankudi-Adhithiravidarcolony
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.220
			</td>
			<td>
				2.220
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				190
			</td>
			<td>
				Periyanesalur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				191
			</td>
			<td>
				The
				road from km.33/187 of Cuddalore-Thirukoilur-Sankarapuram road to
				Natham road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				192
			</td>
			<td>
				Sivakkam-Lakshmigudy
				(via) Chettikattalai road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				193
			</td>
			<td>
				The
				road from km.132/2 of Trichy-Chidambaram road to Elanangur road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				194
			</td>
			<td>
				The
				road from km.3/2 of Vridhachalam-Portonovo road to Kargudal 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				195
			</td>
			<td>
				Kamatchipettai-Maruthur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				196
			</td>
			<td>
				Devanampattinam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				197
			</td>
			<td>
				B.Mutlur-Theerthampalayam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				198
			</td>
			<td>
				A.Agaram-Nithinatham
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				199
			</td>
			<td>
				Sedappalayam
				- S. pudur road (panchayat Union road <br>
Km. 0/0-2/2)
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				200
			</td>
			<td>
				Alagappasamuthiram
				- Kannanchavadi road (panchayat Union road Km. 0/0-2/2)
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				201
			</td>
			<td>
				Bandrakottai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.100
			</td>
			<td>
				2.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				202
			</td>
			<td>
				Palayamkottai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.100
			</td>
			<td>
				2.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				203
			</td>
			<td>
				Edaiyur-Thazhanallur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.125
			</td>
			<td>
				2.125
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				204
			</td>
			<td>
				Palayamkottai-Kozhai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				205
			</td>
			<td>
				Kattiyampalayam-Ammapettai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				206
			</td>
			<td>
				The
				road from km.0/6 of Nellikuppam East Diversion road to join of
				Eaithanur-Nesanur road km.0/0-1/2 and Erikarai Diversion road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				207
			</td>
			<td>
				Alichikudi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				208
			</td>
			<td>
				Themmur-Parivilagam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				209
			</td>
			<td>
				Sri
				Neduncherry road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				210
			</td>
			<td>
				Perur
				road (via) Nandeeswaramangalam
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				211
			</td>
			<td>
				Sirakilandanallu
				road
			</td>
			<td>
				0.400
			</td>
			<td>
				2.400
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				212
			</td>
			<td>
				Paradur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				213
			</td>
			<td>
				Therkkumangudy
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				214
			</td>
			<td>
				Edachitoor
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				215
			</td>
			<td>
				T.V.Puthur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				216
			</td>
			<td>
				Mugasaparur
				road
			</td>
			<td>
				7.600
			</td>
			<td>
				9.600
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				217
			</td>
			<td>
				Melmampattu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				218
			</td>
			<td>
				Periyakomatti
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				219
			</td>
			<td>
				The
				road from km.0/4 of Periyapattu-Poochimedu road to
				Thatchampalayam road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				220
			</td>
			<td>
				N.Naraiyur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				221
			</td>
			<td>
				Niramani
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				222
			</td>
			<td>
				T.Kudikadu-Tholar
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.920
			</td>
			<td>
				1.920
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="26">
				223
			</td>
			<td>
				Road
				from km 4/8 of Sethiyathope - Kammapuram road to Periya Narkunam 
				and Harijana colony  road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.900
			</td>
			<td>
				1.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				224
			</td>
			<td>
				Kattugudalore
				village road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.900
			</td>
			<td>
				1.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				225
			</td>
			<td>
				Sengamedu-Siraimettankoil
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.880
			</td>
			<td>
				1.880
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				226
			</td>
			<td>
				Keeramangalam-T.Pavalankudi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.872
			</td>
			<td>
				1.872
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				227
			</td>
			<td>
				Erappavur-Marudhathur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.870
			</td>
			<td>
				1.870
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				228
			</td>
			<td>
				Road
				branching from km 1/2 of Melpattampakkam-Narimedu road joined at
				km 0/6 of Sitharasur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				229
			</td>
			<td>
				Pillali-Otteri
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				230
			</td>
			<td>
				The
				road from km.0/8 of Karamanikuppam-Thirumanikuzhi road to joint
				of Eaithanur-Nesanur road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				231
			</td>
			<td>
				M.Udaiyur-Thillainayagapuram
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				232
			</td>
			<td>
				Keerapalayam-Ennagaram
				road to C.Melavanniyur colony road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				233
			</td>
			<td>
				The
				road from km.25/8 of VKT road to L.N.Puram (via) Kanisapakkam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				234
			</td>
			<td>
				Rettakurichi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				235
			</td>
			<td>
				South
				Melmampattu road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				236
			</td>
			<td>
				Kurunkudi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.640
			</td>
			<td>
				1.640
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				237
			</td>
			<td>
				Vijayamanagaram
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				238
			</td>
			<td>
				Nachiyarpettai-Erumanur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				239
			</td>
			<td>
				Keeliruppu-Kattupalayam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				240
			</td>
			<td>
				Nattarmangalam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				241
			</td>
			<td>
				Singirikudi-Nallathur
				road
			</td>
			<td>
				3.000
			</td>
			<td>
				4.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				242
			</td>
			<td>
				Mu.Agaram
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				243
			</td>
			<td>
				The
				road from km.5/0 of Cuddalore-Chittoor road to Nathapattu road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				244
			</td>
			<td>
				Vadakkuthittai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				245
			</td>
			<td>
				The
				road from km.4/2 of Keerapalayam-Sethiyathope road to Ayeepettai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				246
			</td>
			<td>
				Kosapallam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				247
			</td>
			<td>
				Sri
				Adhivaraganallur road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				248
			</td>
			<td>
				Nesanur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.470
			</td>
			<td>
				1.470
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				249
			</td>
			<td>
				Ponneri-Keerapalayam
				road
			</td>
			<td>
				1.200
			</td>
			<td>
				2.650
			</td>
			<td>
				1.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				250
			</td>
			<td>
				Thoravalur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				251
			</td>
			<td>
				Ramapuram-Othiyadikuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				252
			</td>
			<td>
				Sathanatham
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				253
			</td>
			<td>
				Seppakkam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				254
			</td>
			<td>
				Salakarai-Rudhrasolai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.350
			</td>
			<td>
				1.350
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				255
			</td>
			<td>
				Kothattai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.290
			</td>
			<td>
				1.290
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				256
			</td>
			<td>
				Pudupalayam
				main road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.234
			</td>
			<td>
				1.234
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				257
			</td>
			<td>
				Paravalur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				258
			</td>
			<td>
				Nadukuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				259
			</td>
			<td>
				Pachayankuppam-Sothikuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				260
			</td>
			<td>
				Thiruvandipuram
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				261
			</td>
			<td>
				Vasanankuppam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				262
			</td>
			<td>
				Udayarkudi-Tanakaran
				street to North Kulathankarai road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.069
			</td>
			<td>
				1.069
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				263
			</td>
			<td>
				Usuppur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				264
			</td>
			<td>
				The
				road from km.21/2 of Cuddalore-Chittoor road to Pakkiripalayam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				265
			</td>
			<td>
				Ellaiyammankoil
				street 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				266
			</td>
			<td>
				Ariyakozhti
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				267
			</td>
			<td>
				Bhuvanagiri
				bye pass road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				268
			</td>
			<td>
				Venkarumbur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				269
			</td>
			<td>
				Bagoor-Villiyanur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.990
			</td>
			<td>
				0.990
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				270
			</td>
			<td>
				Mirallur
				road (panchayat Union road Km. 0/0-0/950)
			</td>
			<td>
				0.000
			</td>
			<td>
				0.950
			</td>
			<td>
				0.950
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				271
			</td>
			<td>
				The
				road from km.37/9 of VKT road to join Alagappasamuthiram road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.900
			</td>
			<td>
				0.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				272
			</td>
			<td>
				Zoological
				research station road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				273
			</td>
			<td>
				Vathiyapalli
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				274
			</td>
			<td>
				Mirallur
				road
			</td>
			<td>
				0.300
			</td>
			<td>
				1.100
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				275
			</td>
			<td>
				Arungunam-Natham
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				276
			</td>
			<td>
				Ariyanatchi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				277
			</td>
			<td>
				Bodichetty
				street 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.750
			</td>
			<td>
				0.750
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				278
			</td>
			<td>
				Sithivilagam-Karunkuzhi-Mettukuppam
				road
			</td>
			<td>
				7.200
			</td>
			<td>
				7.850
			</td>
			<td>
				0.650
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				279
			</td>
			<td>
				Periyakomati-Senthirakillai
				road
			</td>
			<td>
				2.000
			</td>
			<td>
				2.650
			</td>
			<td>
				0.650
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				280
			</td>
			<td>
				West
				Car steet 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.633
			</td>
			<td>
				0.633
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				281
			</td>
			<td>
				Vattathur-Veeranam
				Tank Bund road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.610
			</td>
			<td>
				0.610
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				282
			</td>
			<td>
				Venugopalpillai
				street
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				283
			</td>
			<td>
				Perumathuran
				street
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				284
			</td>
			<td>
				Kundiyamallur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				285
			</td>
			<td>
				Gandhi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.567
			</td>
			<td>
				0.567
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				286
			</td>
			<td>
				Thunisiramedu-Pannapattu
				road
			</td>
			<td>
				8.400
			</td>
			<td>
				8.900
			</td>
			<td>
				0.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				287
			</td>
			<td>
				Sri
				Adhivaraganallur colony road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				288
			</td>
			<td>
				Road
				from Km, 3/0 of Elavathadi - Pulavankuppam road to Pulavankuppam
				road.
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				289
			</td>
			<td>
				MRK
				Sugar Cane Yard road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.360
			</td>
			<td>
				0.360
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				290
			</td>
			<td>
				Car
				street (Cuddalore)
			</td>
			<td>
				0.000
			</td>
			<td>
				0.330
			</td>
			<td>
				0.330
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				291
			</td>
			<td>
				Sanjeevanaidu
				street
			</td>
			<td>
				0.000
			</td>
			<td>
				0.330
			</td>
			<td>
				0.330
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				292
			</td>
			<td>
				Vandikaranstreet
				(Portonovo)
			</td>
			<td>
				0.000
			</td>
			<td>
				0.260
			</td>
			<td>
				0.260
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				293
			</td>
			<td>
				G.Kudikadu
				link road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.250
			</td>
			<td>
				0.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				294
			</td>
			<td>
				South
				Car street (Chidambaram)
			</td>
			<td>
				0.000
			</td>
			<td>
				0.236
			</td>
			<td>
				0.236
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				295
			</td>
			<td>
				River
				side road (Cuddalore)
			</td>
			<td>
				0.000
			</td>
			<td>
				0.150
			</td>
			<td>
				0.150
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				296
			</td>
			<td>
				Chinnakuppam-Erambur
				village road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.775
			</td>
			<td>
				1.775
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				297
			</td>
			<td>
				Road
				branching from km 3/2 of Avinangudi -Adhamangalam road to Tholar
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.700
			</td>
			<td>
				1.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				298
			</td>
			<td>
				Pazhanjanallur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.550
			</td>
			<td>
				1.550
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				299
			</td>
			<td>
				Road
				branching at km 1/6 of Madarsoodamani road to join at km 0/6 of
				Azhinjimangalam -Muttam road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				300
			</td>
			<td>
				The
				road from km.10/4 of Cuddalore-Chittoor road to Nellikuppam East
				Diversion road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="6">
				301
			</td>
			<td>
				Kurinjipady-Virupachi
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.410
			</td>
			<td>
				1.410
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				302
			</td>
			<td>
				The
				road from km.11/8 of Cuddalore-Chittoor road to Nellikuppam West
				Diversion road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="29">
				303
			</td>
			<td>
				The
				road from km.26/6 of Cuddalore-Chittoor road km.26/6 to
				Kokkupalayam road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				304
			</td>
			<td>
				Kannadi-Thittiyammedu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				305
			</td>
			<td>
				Meliruppu-Keeliruppu
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				306
			</td>
			<td>
				Keelmampattu
				road (via) Kottikonankuppam road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				307
			</td>
			<td>
				The
				road from km.26/1 of VKT road to Poongunam road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				308
			</td>
			<td>
				Movoor
				colony road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
		<tr>
			
		</tr>
	</tbody>
</table>
