<table id="otherdistrict" style="border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>
				<b>Sl.<br>
No</b>
			</td>
			<td>
				<b>Name
				of the Road</b>
			</td>
			<td>
				<b>Starting
				KM.</b>
			</td>
			<td>
				<b>Ending
				KM</b>
			</td>
			<td>
				<b>Total
				Length KM.</b>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td>
				Karanodai
				- Minjur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				16.400
			</td>
			<td>
				15.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				2
			</td>
			<td>
				Aaladu-Manopuram-Somancherry-Thathamanji
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				13.400
			</td>
			<td>
				13.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				3
			</td>
			<td>
				Vadaperumbakkam
				–Chettimedu nair Road 
				
			</td>
			<td>
				6.200
			</td>
			<td>
				19.070
			</td>
			<td>
				12.870
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				4
			</td>
			<td>
				Thalavedu
				- Poonimangadu Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				11.200
			</td>
			<td>
				11.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				5
			</td>
			<td>
				Pondavakkam-Mambakkam
				road (via) Velagapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.500
			</td>
			<td>
				10.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				6
			</td>
			<td>
				Palavakkam
				– K.S. Road (via) Kannan Kottai Karadiputhur road 
				
			</td>
			<td>
				3.400
			</td>
			<td>
				13.600
			</td>
			<td>
				10.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				7
			</td>
			<td>
				Melanur-Meyyur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.000
			</td>
			<td>
				10.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				8
			</td>
			<td>
				Vellathukottai-Goonipalayam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.000
			</td>
			<td>
				10.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				9
			</td>
			<td>
				Solavaram
				- Orakkadu - Arumandai - Perumullaivoyal road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				10.000
			</td>
			<td>
				10.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				10
			</td>
			<td>
				Elavampedu-
				Thiruvellavoyal Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.850
			</td>
			<td>
				9.850
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				11
			</td>
			<td>
				Ramapuram-Pakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				12
			</td>
			<td>
				G.N.T.
				Road – Kannambakkam (via) Edur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				9.200
			</td>
			<td>
				9.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				13
			</td>
			<td>
				Manavoor(RS)
				Perampakkam Road 
				
			</td>
			<td>
				2.500
			</td>
			<td>
				11.030
			</td>
			<td>
				8.530
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				14
			</td>
			<td>
				Poondi
				Regulator-Ramancheri road 
				
			</td>
			<td>
				2.700
			</td>
			<td>
				11.200
			</td>
			<td>
				8.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				15
			</td>
			<td>
				Poondi-Ramarajakandigai
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.400
			</td>
			<td>
				8.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				16
			</td>
			<td>
				Chinnakavanam
				– Arasur – Ayyanallur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.265
			</td>
			<td>
				8.265
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				17
			</td>
			<td>
				Pondeswaram
				–Kilkondaiyur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				8.000
			</td>
			<td>
				8.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				18
			</td>
			<td>
				Chinnakavanam
				– Perumbedu Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.400
			</td>
			<td>
				7.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				19
			</td>
			<td>
				G.N.T.
				Road –  New Erumaivettipalayam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.300
			</td>
			<td>
				7.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				20
			</td>
			<td>
				Aranvoyalkuppam-Koppur-Mannur
				road 
				
			</td>
			<td>
				2.000
			</td>
			<td>
				9.200
			</td>
			<td>
				7.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				21
			</td>
			<td>
				Arambakkam
				– Madarpakkam Road
			</td>
			<td>
				1.000
			</td>
			<td>
				8.000
			</td>
			<td>
				7.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				22
			</td>
			<td>
				Thirur-Sevvapet-Keelanur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				7.000
			</td>
			<td>
				7.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				23
			</td>
			<td>
				Thandalam-Perambakkam-Thakkolam-Arigalapadi
				road to Pannur-Vayalur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.800
			</td>
			<td>
				6.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				24
			</td>
			<td>
				K.S
				road to Thervoy road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				25
			</td>
			<td>
				Manavoor
				RS- Thiruvalangadu Road
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				26
			</td>
			<td>
				Ariyalur-Vilangadupakkam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.400
			</td>
			<td>
				6.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				27
			</td>
			<td>
				Sunnambukulam-
				Annamalaichery road 
				
			</td>
			<td>
				3.000
			</td>
			<td>
				9.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				28
			</td>
			<td>
				G.N.T.
				Road – Mangavaram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				29
			</td>
			<td>
				G.N.T.
				Road – Arur Egumadurai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				6.000
			</td>
			<td>
				6.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				30
			</td>
			<td>
				G.N.T.
				Road to Ayyanallur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.800
			</td>
			<td>
				5.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				31
			</td>
			<td>
				Elavur
				– Sunnambukulam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.700
			</td>
			<td>
				5.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				32
			</td>
			<td>
				Ramathandalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.600
			</td>
			<td>
				5.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				33
			</td>
			<td>
				Thirupachur-kadambathur-Kondancheri
				road to Vidayyur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.500
			</td>
			<td>
				5.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				34
			</td>
			<td>
				K.S
				Road – N.M. Kandigai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.500
			</td>
			<td>
				5.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				35
			</td>
			<td>
				Thalayaripalayam
				– Medipalayam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.400
			</td>
			<td>
				5.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				36
			</td>
			<td>
				Kavarapet
				– Sathyavedu Road  to Billa Kuppam (via) G.R. Kandigai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.325
			</td>
			<td>
				5.325
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				37
			</td>
			<td>
				Elambakkam-Koovum
				road 
				
			</td>
			<td>
				4.400
			</td>
			<td>
				9.700
			</td>
			<td>
				5.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				38
			</td>
			<td>
				Arakkonam
				– Renigunta Road- Poonimangadu Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.200
			</td>
			<td>
				5.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				39
			</td>
			<td>
				Arakkonam
				Tiruvallur Road to Valarpuram Road 
				
			</td>
			<td>
				7.000
			</td>
			<td>
				12.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				40
			</td>
			<td>
				Pothur
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				5.000
			</td>
			<td>
				5.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				41
			</td>
			<td>
				K.B.P.
				Road – Pudupalayam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				42
			</td>
			<td>
				S.S.T.R.
				road to Valasaivettikadu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				43
			</td>
			<td>
				Ekkadu-Ramathandalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.800
			</td>
			<td>
				4.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				44
			</td>
			<td>
				Ammaiyarkuppam-Avalakunda
				road 
				
			</td>
			<td>
				2.400
			</td>
			<td>
				7.000
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				45
			</td>
			<td>
				Nagari
				- Pallipet road to Kesavarajkuppam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.600
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				46
			</td>
			<td>
				MKT
				Road - Cheppakkam (via) Mouthambedu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.600
			</td>
			<td>
				4.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				47
			</td>
			<td>
				Tiruttani
				- Podatturpet Road-Sirugumi Road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				48
			</td>
			<td>
				T.P
				to Erayamangalam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				49
			</td>
			<td>
				Thirupanthiyur
				road to Pannur-Vayalur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				50
			</td>
			<td>
				Km.12/2
				 G.M. Road – Sanaputhur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.500
			</td>
			<td>
				4.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				51
			</td>
			<td>
				Elambakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				52
			</td>
			<td>
				C.T.R.
				to Mettupalayam (via) Thomur-Ramancheri road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				53
			</td>
			<td>
				K.B.P
				Road – Tholavedu (via) Kakavakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.400
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				54
			</td>
			<td>
				Velyiyagaram
				sanokuppam road to I.V. Pattadai road 
				
			</td>
			<td>
				0.000
				    3.000
			</td>
			<td>
				0.600
				  6.800
			</td>
			<td>
				4.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				55
			</td>
			<td>
				Bugga
				 - Illathur Road 
				
			</td>
			<td>
				0.000
				   2.800    7.600
			</td>
			<td>
				0.800
				         4.600   9.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				56
			</td>
			<td>
				Thirumazhisai-
				Uthukottai road to Meyyur road 
				
			</td>
			<td>
				1.400
			</td>
			<td>
				5.600
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				57
			</td>
			<td>
				22/4
				of Thirumazhisai-Uthukottai road to Egattur (via) Selai road 
				
			</td>
			<td>
				1.000
			</td>
			<td>
				5.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				58
			</td>
			<td>
				Mambakkamchattiram
				- Kannigapuram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				59
			</td>
			<td>
				Killikodi
				Road – Arasur Road(Via) Sompattu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				60
			</td>
			<td>
				Padur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				61
			</td>
			<td>
				Vellavedu
				–Chithukadu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.200
			</td>
			<td>
				4.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				62
			</td>
			<td>
				Kolladam
				– Madarpakkam Road 
				
			</td>
			<td>
				3.200
			</td>
			<td>
				7.200
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				63
			</td>
			<td>
				Mittanamallee-Palavedu
				Alathur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				64
			</td>
			<td>
				Ayyaneri
				Ramnagar road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				65
			</td>
			<td>
				Thirur-Sevvapet-Keelanur
				road to Boojankandigai road
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				66
			</td>
			<td>
				Guruvoyal
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				67
			</td>
			<td>
				GNT
				Road - Agaram Colony Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				4.000
			</td>
			<td>
				4.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				68
			</td>
			<td>
				Chinnammapettai
				- Bagasalai 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.820
			</td>
			<td>
				3.820
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				69
			</td>
			<td>
				Pinjivakkam
				Harijan Colony road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				70
			</td>
			<td>
				Satharai-Perambakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				71
			</td>
			<td>
				Tirupathi-Renigunta-Tiruttani-Chennai
				 (NH 205) to Putlur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				72
			</td>
			<td>
				42/0
				of Tirupathi-Renigunta-Tiruttani-Chennai (NH 205) to
				Thirupachur-Attupakkam (via) and Kaivandur harijan colony road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				73
			</td>
			<td>
				Km1/7
				M.K.T. Road – Devathanam (Via) Kalpakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				74
			</td>
			<td>
				Kolur
				- Periyakarumbur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				75
			</td>
			<td>
				Sunnambukulam
				to  Obasamuthiruam road (Via) Kuzhinal Colony road.
			</td>
			<td>
				0.000
			</td>
			<td>
				3.800
			</td>
			<td>
				3.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				76
			</td>
			<td>
				E.S.
				Road – Melakazhani Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.715
			</td>
			<td>
				3.715
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				77
			</td>
			<td>
				Km
				15/6 Kavarapettai – Sathiyavedu Road Panjalai km 0/0-3/2 link
				Road to Amarambedu 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.700
			</td>
			<td>
				3.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				78
			</td>
			<td>
				Azinjivakkam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				79
			</td>
			<td>
				Sembedu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				80
			</td>
			<td>
				Komakkambedu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				81
			</td>
			<td>
				Noombal
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				82
			</td>
			<td>
				Km.38/0
				G.N.T. Road – Killikodi Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				83
			</td>
			<td>
				Arambakkam
				– Rallakuppam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				84
			</td>
			<td>
				Morai
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.600
			</td>
			<td>
				3.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				85
			</td>
			<td>
				CTR
				Road to Arumbakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.500
			</td>
			<td>
				3.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				86
			</td>
			<td>
				Arunkulam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				87
			</td>
			<td>
				Adhigathur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				88
			</td>
			<td>
				Perathur-Nathakoil
				Thibbai road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				89
			</td>
			<td>
				AVP
				Road to Manali-Mathur Road (via) Kosapur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				90
			</td>
			<td>
				Orakkadu
				– Arumanthai Road to Budur redhills road (via) Kummanur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				91
			</td>
			<td>
				Palavakkam
				– Madanancheri road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				92
			</td>
			<td>
				Thirunilai
				– Akkarapakkam Road (via) Amithanallur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				93
			</td>
			<td>
				Chittur
				– Thiruttani road to Paivalasa road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				94
			</td>
			<td>
				G.N.T.
				Road – Pudur Redhills Road (Via)Siruniyam Aangadu Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.400
			</td>
			<td>
				3.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				95
			</td>
			<td>
				K.B.P
				Road – Thandalam Sathiyavedu Road   
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.350
			</td>
			<td>
				3.350
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				96
			</td>
			<td>
				Madarpakkam
				– Sathiyavedu Road (via) Rosa Nagaram 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.350
			</td>
			<td>
				3.350
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				97
			</td>
			<td>
				R.K.
				Pet Pallipet road Nagari Pallipet road (via) Echambadi 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.300
			</td>
			<td>
				3.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				98
			</td>
			<td>
				Tiruvalangadu
				- Vedaiyur road
			</td>
			<td>
				4.750
			</td>
			<td>
				8.000
			</td>
			<td>
				3.250
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				99
			</td>
			<td>
				V.K.
				Road to Pagalmedu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.230
			</td>
			<td>
				3.230
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				100
			</td>
			<td>
				Vishnuvakkam-
				Veeraraghavapuram road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				101
			</td>
			<td>
				Agaram
				Colony - Gangaiyadikuppam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				102
			</td>
			<td>
				Guruvoyal
				-Arugambedu to Sothupakkam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				103
			</td>
			<td>
				Km.30/8
				of Chittoor-Thiruttani road Devalambaburam road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				104
			</td>
			<td>
				Kalpattu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				105
			</td>
			<td>
				New
				Gummidipoondi – Sirupuzhal pettai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.200
			</td>
			<td>
				3.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				106
			</td>
			<td>
				Arakkonam
				- Tiruthani Road to Kannigapuram Road
			</td>
			<td>
				0.000
			</td>
			<td>
				3.130
			</td>
			<td>
				3.130
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				107
			</td>
			<td>
				Aranvoyalkuppam-Koppur-Mannur
				road to Vellerithangal road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.100
			</td>
			<td>
				3.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				108
			</td>
			<td>
				Vengal-Kannigaiper
				road to Kilambakkam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				109
			</td>
			<td>
				G.N.T.
				Road – Chinnambedu Road (Via)Chinnambedu Colony Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				110
			</td>
			<td>
				Km.25/6
				T.P.P. Road – Vellakulam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				111
			</td>
			<td>
				Vichoor
				- Echanguli Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				112
			</td>
			<td>
				M.K.T.
				Road – Kattur Harijan Colony (Via) Abiramapuram 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				113
			</td>
			<td>
				R.K.
				Pet – Pallipet road to Veliyagaram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				114
			</td>
			<td>
				Sri
				Kaligapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				115
			</td>
			<td>
				Chittoor
				Thiruttani road Chettivaripalli road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				116
			</td>
			<td>
				Chittoor
				Thiruttani Road - S.Agraharam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				117
			</td>
			<td>
				Singaperumalkoil-Sriperumbudur-Thiruvallur-Red
				Hills road  to Nungambakkam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				118
			</td>
			<td>
				Km
				9/2 G.M. Road – Sanaputhur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				119
			</td>
			<td>
				G.N.T.
				Road – Periya Obulapuram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				120
			</td>
			<td>
				M.
				G. Road – Thervazhi Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				121
			</td>
			<td>
				K.B.P.
				Road – Natham (Via) Bandikavanur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				122
			</td>
			<td>
				Naidukuppam
				– Egumadurai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				123
			</td>
			<td>
				G.N.T.
				Road – Amirthanallur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				124
			</td>
			<td>
				Nelvoy-Kunjalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				125
			</td>
			<td>
				Thirumazhisai
				–Sathyavedu road to Poonamallee –Pattabiram (via) Kavalcheri
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				3.000
			</td>
			<td>
				3.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				126
			</td>
			<td>
				T.P.P
				Road to Sadayankuppam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.910
			</td>
			<td>
				2.910
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				127
			</td>
			<td>
				Neythavoyal
				– Devathanam Road (Via) Merattur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.900
			</td>
			<td>
				2.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				128
			</td>
			<td>
				Chokkanallur
				–Thirumanam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				129
			</td>
			<td>
				Erayamangalam-Nungambakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				130
			</td>
			<td>
				Ilupur-Papparambakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				131
			</td>
			<td>
				Ayyaneri
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.800
			</td>
			<td>
				2.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				132
			</td>
			<td>
				Pallikuppam
				Union road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.640
			</td>
			<td>
				2.640
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				133
			</td>
			<td>
				Somasundaram
				Thamaneri road 
				
			</td>
			<td>
				3.000
			</td>
			<td>
				5.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				134
			</td>
			<td>
				Paivalasa
				Katterikuppam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				135
			</td>
			<td>
				Km.2/2
				Karanodai Orakkadu Road – Orakkadu Village Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				136
			</td>
			<td>
				Korattur-Thinnanur-Periyapalayam
				road to Nathamedu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				137
			</td>
			<td>
				Korattur-Thinnanur-Periyapalayam
				 road to Agaram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				138
			</td>
			<td>
				Korattur-Thinnanur-Periyapalayam
				road to Pandikavanur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				139
			</td>
			<td>
				R.K.Pet
				Pallipet road Venkatraja kuppam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				140
			</td>
			<td>
				58/6
				of Chennai-Tiruttani-Renigunta road to Ramapuram-Pakkam road
				(via) Ayathur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.600
			</td>
			<td>
				2.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				141
			</td>
			<td>
				Thandalam
				– Mukkarambakkam Road 
				
			</td>
			<td>
				2.500
			</td>
			<td>
				5.000
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				142
			</td>
			<td>
				Pudhupalayam
				to Mangalam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.500
			</td>
			<td>
				2.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				143
			</td>
			<td>
				Rettambedu
				– Ayyanallur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.460
			</td>
			<td>
				2.460
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				144
			</td>
			<td>
				AT
				Road to Minnal Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.450
			</td>
			<td>
				2.450
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				145
			</td>
			<td>
				Ammayarkuppam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				146
			</td>
			<td>
				Kaverirajapuram
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				147
			</td>
			<td>
				Maddur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				148
			</td>
			<td>
				R.K.Pet
				Pallipet road to Kodivalasa 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				149
			</td>
			<td>
				Kattur
				Magan Kaligapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				150
			</td>
			<td>
				CTR
				road - Konalam road 
				
			</td>
			<td>
				6.000
			</td>
			<td>
				8.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				151
			</td>
			<td>
				M.K.T.
				Road – Kattur Harijan Colony road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				152
			</td>
			<td>
				Singaperumalkoil-Sriperumbudur-Thiruvallur-Red
				Hills  road to Vishnuvakkam-Perathur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				153
			</td>
			<td>
				Thirupanthiyur
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				154
			</td>
			<td>
				Walajabad-Sunguvarchathiram-Keelacheri
				road to Kottaiyur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				155
			</td>
			<td>
				Arakkambakkam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				156
			</td>
			<td>
				Sothupakkam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				157
			</td>
			<td>
				N.N.Kandigai
				- Nallattur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				158
			</td>
			<td>
				Km.48/0
				of G.N.T. Road – Siddaraja kandigai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.400
			</td>
			<td>
				2.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				159
			</td>
			<td>
				Km.25/6
				– T.P.P. Road – Km.4/7  of Chennai – Pulicat Road (Via)
				Thadaperumbakkam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.210
			</td>
			<td>
				2.210
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				160
			</td>
			<td>
				CT
				road - Veeraganallur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				161
			</td>
			<td>
				Km.
				56/10 of CT  road - Cherrukkanur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				162
			</td>
			<td>
				Othikkadu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				163
			</td>
			<td>
				Medur
				– Gummidipoondi Road Athupakkam 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				164
			</td>
			<td>
				Aroor
				to Egumadurai road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.200
			</td>
			<td>
				2.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				165
			</td>
			<td>
				Thirukkandalam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.160
			</td>
			<td>
				2.160
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				166
			</td>
			<td>
				AMM
				Road to Puthagaram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.135
			</td>
			<td>
				2.135
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				167
			</td>
			<td>
				Km.69/6
				S.S.T.R Road – Alamathi ABC Colony Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.130
			</td>
			<td>
				2.130
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				168
			</td>
			<td>
				Km.1/8
				of AVC Road to Military Road (via) Kollumedu -Veerapuram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.100
			</td>
			<td>
				2.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				169
			</td>
			<td>
				Photturpet
				Road to Shri Kaveri Rajapet road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.100
			</td>
			<td>
				2.100
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				170
			</td>
			<td>
				Sanoor
				Mallavaram road  
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				171
			</td>
			<td>
				Venganoor
				road  
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				172
			</td>
			<td>
				Viysapuram
				Road  
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				173
			</td>
			<td>
				CTR
				Road - Kanchipadi Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				174
			</td>
			<td>
				Chittoor
				Thiruttani road Adhivaragapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				175
			</td>
			<td>
				Maddur
				- Alamelumangapuram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				176
			</td>
			<td>
				TPP
				Road to Athipattu Railway Station Road (via) Vallur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				177
			</td>
			<td>
				Chittoor
				Thiruttani road to Veeramangalam (via) V.P.R. Puram  
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				178
			</td>
			<td>
				AVP
				Road to Vichoor (via) Kanniyampettai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				179
			</td>
			<td>
				G.M.
				Road – Melpakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				180
			</td>
			<td>
				K.B.P
				Road – Panapakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				181
			</td>
			<td>
				G.N.T.
				Road km 44/8 branch to Natham Road (via) Thervazhi 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				182
			</td>
			<td>
				Pandur
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				183
			</td>
			<td>
				Sorakkapet
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				2.000
			</td>
			<td>
				2.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				184
			</td>
			<td>
				M.P.
				Road – Kattavur (Via) Guduvancherry Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.920
			</td>
			<td>
				1.920
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				185
			</td>
			<td>
				K.S.
				road to M.P road(via) Anuradha Paint 
				
			</td>
			<td>
				0.000
				   1.500
			</td>
			<td>
				1.000
				  2.400
			</td>
			<td>
				1.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				186
			</td>
			<td>
				Soolaimeni
				to Sengaraikadu Selliyamannam Koil Road 
				
			</td>
			<td>
				0.000
				   2.000<br>
3.200
			</td>
			<td>
				0.400
				  2.400<br>
4.300
			</td>
			<td>
				1.900
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				187
			</td>
			<td>
				K.V.
				Road - Vellivoyal (via) Vichoor 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.850
			</td>
			<td>
				1.850
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				188
			</td>
			<td>
				Km.
				29/6 of G.N.T. Road Neduvarambakkam (Via) Panchetty Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.830
			</td>
			<td>
				1.830
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				189
			</td>
			<td>
				Oragadam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				190
			</td>
			<td>
				Walajabad-Sunguvarchathiram-Keelacheri
				road to Pannur-Vayalur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				191
			</td>
			<td>
				Athimanjeri
				Pothatturpet road to Kakkalur road  
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				192
			</td>
			<td>
				P.P.
				Road – Pettai (Via) Agaram Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				193
			</td>
			<td>
				Chinnsekkadu
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				194
			</td>
			<td>
				KM
				72/2 of Tirumazhisai-Sathyavedu road to Anantheri road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				195
			</td>
			<td>
				Egumadurai
				– Appayapalayam road
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				196
			</td>
			<td>
				Thervoy
				Road – Periyapuliyur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				197
			</td>
			<td>
				Km.9/4
				of AVC Road to Km.1/9 of Pondeswaram Kilkondaiyur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				198
			</td>
			<td>
				Thamaraipakkam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				199
			</td>
			<td>
				Maddur
				- Kothur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				200
			</td>
			<td>
				K.B.P
				Road – Maduravasal 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				201
			</td>
			<td>
				Grantline
				Kattabomman Road Km 0/0 -1/8
			</td>
			<td>
				0.000
			</td>
			<td>
				1.800
			</td>
			<td>
				1.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				202
			</td>
			<td>
				Sholavaram
				- Orakkadu Road 
				
			</td>
			<td>
				3.000
			</td>
			<td>
				4.750
			</td>
			<td>
				1.750
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				203
			</td>
			<td>
				K.S.
				road to M.P road (via) Poothapedu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.700
			</td>
			<td>
				1.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				204
			</td>
			<td>
				Kollanur
				– Mukkarampakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.700
			</td>
			<td>
				1.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				205
			</td>
			<td>
				M.K.T.
				Road – Kadapakkam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.630
			</td>
			<td>
				1.630
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				206
			</td>
			<td>
				Perambakkam
				- Chinnamandali road (S238)
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				207
			</td>
			<td>
				VKN
				Kandigai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				208
			</td>
			<td>
				Chittoor
				Thiruttani road Vellathur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				209
			</td>
			<td>
				Km.9/6
				of Korattur-Thinnanur-Periyapalayam  road to Pakkam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				210
			</td>
			<td>
				The
				road branching from Km 16/8 of G.W.T road to Madharvedu road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				211
			</td>
			<td>
				Paleswaram
				– Nelvoy Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				212
			</td>
			<td>
				G.N.T.
				Road – New Gummidipoondi Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				213
			</td>
			<td>
				Aranvoyal
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.600
			</td>
			<td>
				1.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				214
			</td>
			<td>
				Thalavedu
				 - Poonimangadu Road -Veeraragavapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				215
			</td>
			<td>
				G.N.T.
				Road – Mondiamman Nagar 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.500
			</td>
			<td>
				1.500
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				216
			</td>
			<td>
				Melmanambedu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.420
			</td>
			<td>
				1.420
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				217
			</td>
			<td>
				Km.22/10
				of Thandalam-Perambakkam-road to Irulancheri road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				218
			</td>
			<td>
				Thiruthani
				Subway Approach Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				219
			</td>
			<td>
				Shri
				Kaligapuram Veeramangalam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				220
			</td>
			<td>
				Arakkonam
				Tiruvallur Road to Valarpuram Road 
				
			</td>
			<td>
				3.800
			</td>
			<td>
				5.200
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				221
			</td>
			<td>
				Km
				1/8 of K.S. road to M.P road(via) Valluvar nagar to Ramapuram 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				222
			</td>
			<td>
				L.N.Puram
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				223
			</td>
			<td>
				Pazhanchur
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				224
			</td>
			<td>
				Chembarambakkam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.400
			</td>
			<td>
				1.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				225
			</td>
			<td>
				Lakshmipuram
				- Ellaiammanpettai   Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.360
			</td>
			<td>
				1.360
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				226
			</td>
			<td>
				Singaperumalkoil-Sriperumbudur-Thiruvallur-Red
				Hills  road to Keel Nallathur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.300
			</td>
			<td>
				1.300
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				227
			</td>
			<td>
				Km
				6/10 M.K.T. Road Uranambedu Road 
				
			</td>
			<td>
				3.000
			</td>
			<td>
				4.230
			</td>
			<td>
				1.230
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				228
			</td>
			<td>
				Mosur-Harichandrapuram
				road   (S182)
			</td>
			<td>
				2.400
			</td>
			<td>
				3.600
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				229
			</td>
			<td>
				K.B.P
				Road – Athupakkam
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				230
			</td>
			<td>
				Km.63/2
				of Tirumazhisai-Uthukottai road to Atrambakkam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				231
			</td>
			<td>
				Pakkam-Nathamedu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				232
			</td>
			<td>
				Singaperumalkoil-Sriperumbudur-Thiruvallur-Red
				Hills road to Lakshminathapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				233
			</td>
			<td>
				Koduveli
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				234
			</td>
			<td>
				Ayyaneri
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				235
			</td>
			<td>
				Mylaarvada
				sengattanur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				236
			</td>
			<td>
				T.C.Kandigai
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				237
			</td>
			<td>
				Kaverirajapuram-Anapalayam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				238
			</td>
			<td>
				Nerkundram
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				239
			</td>
			<td>
				Mangavaram
				Road – Pedhikuppam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.200
			</td>
			<td>
				1.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				240
			</td>
			<td>
				Chinnamandali
				- Anaikattaputhur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				241
			</td>
			<td>
				Mambakkamchathiram-Mambakkam
				Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				242
			</td>
			<td>
				Vanivilasapuram
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				243
			</td>
			<td>
				Karani
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				244
			</td>
			<td>
				Koovum-Thakkolam
				road to Narasingapuram road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				245
			</td>
			<td>
				Koovum-Pillayarkuppam
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				246
			</td>
			<td>
				Koovum-Thakkolam
				road to Kilambakkam road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				247
			</td>
			<td>
				C.P.
				Road – Andarkuppam  Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				248
			</td>
			<td>
				A.P.
				Road – Thirunilai (Via) Thirunilai Harijan Colony 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				249
			</td>
			<td>
				K.M.13/2
				of M.G. Road to Chinna Mangodu Road 
				
			</td>
			<td>
				3.600
			</td>
			<td>
				4.600
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				250
			</td>
			<td>
				G.N.T.
				 Road – Padiyanallur 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				251
			</td>
			<td>
				K.B.P
				Road – Perandur Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				252
			</td>
			<td>
				S.S.T.R.
				road to Keelanur road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				253
			</td>
			<td>
				Thandalam
				– Sathyavedu Road – N.M. Kandigai Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				1.000
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				254
			</td>
			<td>
				Parivakkam-
				Pallikuppam road 
				
			</td>
			<td>
				1.400
			</td>
			<td>
				2.400
			</td>
			<td>
				1.000
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				255
			</td>
			<td>
				Nagari
				Pallipet road to Veppagunta road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.856
			</td>
			<td>
				0.856
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				256
			</td>
			<td>
				Km.10/0
				T.P.P. Road – Old Napalayam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				257
			</td>
			<td>
				Vediyangadu
				road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.800
			</td>
			<td>
				0.800
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				258
			</td>
			<td>
				Nadukuthagai
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.700
			</td>
			<td>
				0.700
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				259
			</td>
			<td>
				S.A.P
				CAMP Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				260
			</td>
			<td>
				Bandhikuppam
				Thamaneri road 
				
			</td>
			<td>
				0.400
			</td>
			<td>
				1.000
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				261
			</td>
			<td>
				Perambakkam-Kilambakkam
				road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				262
			</td>
			<td>
				TPP
				Road to Athipattu Railway Station Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				263
			</td>
			<td>
				Vellakulam
				- Echanguli Road
			</td>
			<td>
				3.000
			</td>
			<td>
				3.600
			</td>
			<td>
				0.600
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				264
			</td>
			<td>
				Ponpadi
				Junction road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.565
			</td>
			<td>
				0.565
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				265
			</td>
			<td>
				Karani
				Cause way Branching from km 0/2, km 9/2 of P.P Road &amp; joining
				K.P.P road at km 4/2 of Pudupalayam Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.530
			</td>
			<td>
				0.530
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				266
			</td>
			<td>
				K.V.
				Road - Vichoor Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.400
			</td>
			<td>
				0.400
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				267
			</td>
			<td>
				Perambur
				cross Road 
				
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				268
			</td>
			<td>
				Kannigapuram
				Link Road
			</td>
			<td>
				0.000
			</td>
			<td>
				0.200
			</td>
			<td>
				0.200
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td>
				
			</td>
			<td>
				<b>Total</b>
			</td>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				<b>868.321</b>
			</td>
		</tr>
	</tbody>
</table>
